<div class="container p-4" style="background-color: #F0F8FF; min-height: 591px;">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom text-dark">
        <h3>จัดการข้อมูลการชำระเงิน</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                    << ย้อนกลับ</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-sm btn-outline-info" (click)="refresh()">รีโหลด</button>
            </div>
        </div>
    </div>

    <!-- queue number -->
    <div class="con-dataqueue">
        <div class="card shadow topbar static-top">
            <div class="card-body text-dark">
                <div class="row justify-content-end" style="padding-bottom: 15px;">
                    <div class="col-md-2">
                        <form action="">
                            <div class="form-group">
                                <label class="">
                                    <input type="search" name="searchText" class="form-control form-control-sm"
                                        aria-controls="Searchdata" placeholder="Search" [(ngModel)]="searchText" />
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="dataTable table-responsive">
                    <div class="dataTable">
                        <table class="table table-hover   text-center">
                            <thead>
                                <tr>
                                    <th class="col-md-1">ลำดับ</th>
                                    <th class="col-md-2">เลขที่ใบสั่งยา</th>
                                    <th class="col-md-2" scope="col">ชื่อ - สกุล</th>
                                    <th class="col-md-1">ยอดชำระ</th>
                                    <th class="col-md-1">สลิปค่ารักษา</th>
                                    <th class="col-md-2">ดูรายละเอียด</th>
                                    <th class="col-md-2">อัพเดตสถานะการชำระ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listDatas | filter:searchText | paginate: {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count
                                  }; let i = index">
                                    <th class="col-md-1" scope="row">{{i+1}}</th>
                                    <th class="col-md-2">{{item.billId}}</th>
                                    <td class="col-md-2">{{item.user.userFirstname}} {{item.user.userLastname}}</td>
                                    <td class="col-md-1">{{item.tmMoney}}</td>
                                    <td *ngIf="item.tmStatus ==='WC' || item.tmStatus ==='S'" class="col-md-1 text-decoration-underline text-primary" data-bs-toggle="modal"
                                        data-bs-target="#SlipModal" (click)="selectData(item)">
                                        ดูสลิป
                                    </td>
                                    <td *ngIf="item.tmStatus !='WC' && item.tmStatus !='S'" class="col-md-1 text-decoration-underline text-primary">
                                        
                                    </td>
                                    <!-- <td>{{item.tmDate}} {{item.tmTime}}</td> -->
                                    <td class="col-md-2">
                                        <button type="button" class="btn btn-sm text-white" data-bs-toggle="modal"
                                            data-bs-target="#SelectModal" style="background-color: rgb(0, 105, 191);"
                                            (click)="selectData(item)">
                                            <i class="bi bi-eye-fill"
                                                style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                            ดูรายละเอียด
                                        </button>
                                    </td>
                                    <td *ngIf="item.tmStatus ==='W'" class="col-md-2">
                                        <button type="button" class="btn btn-sm text-white"
                                            style="background-color: rgb(0, 191, 0);" (click)="gotoSuccess(item)"
                                            value="">
                                            <i class="bi bi-check2-circle"
                                                style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                            ชำระแล้ว
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger text-white"
                                            (click)="gotoNewFile(item)">
                                            <i class="bi bi-x-circle"
                                                style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                            ยังไม่ชำระ
                                        </button>
                                    </td>
                                    <td *ngIf="item.tmStatus ==='WC'" class="col-md-2">
                                        <button type="button" class="btn btn-sm text-white"
                                            style="background-color: rgb(0, 191, 0);" (click)="gotoSuccess(item)"
                                            value="">
                                            <i class="bi bi-check2-circle"
                                                style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                            ชำระแล้ว
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger text-white"
                                            (click)="gotoNewFile(item)">
                                            <i class="bi bi-x-circle"
                                                style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                            ยังไม่ชำระ
                                        </button>
                                    </td>
                                    <td *ngIf="item.tmStatus ==='S'" class="col-md-2">
                                        <span class="t-success badge p-2">
                                            <dt class="border border-success border-start-0 border-end-0 p-1 font-monospace"
                                                style="font-size: 15px;">ยืนยันการชำระเงินแล้ว</dt>
                                        </span>
                                    </td>
                                    <td *ngIf="item.tmStatus ==='C'" class="col-md-2">
                                        <span class="t-danger badge p-2">
                                            <dt class="border border-danger border-start-0 border-end-0 p-1 font-monospace"
                                                style="font-size: 15px;">ยกเลิกใบสั่งจ่ายยา</dt>
                                        </span>
                                    </td>
                                    <td *ngIf="item.tmStatus ==='N'" class="col-md-2">
                                        <button type="button" class="btn btn-sm text-white"
                                            style="background-color: rgb(0, 191, 0);" (click)="gotoSuccess(item)"
                                            value="">
                                            <i class="bi bi-check2-circle"
                                                style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                            ชำระแล้ว
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger text-white"
                                            (click)="gotoNewFile(item)">
                                            <i class="bi bi-x-circle"
                                                style="font-size: 15px; color: rgb(255, 255, 255);"></i>
                                            ยังไม่ชำระ
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-center pb-0 mb-0">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <canvas class="my-4 w-100" id="myChart" height="58"></canvas> -->

<!-- Modal -->
<div class="modal fade text-dark" id="SelectModal" tabindex="-1" aria-labelledby="SelectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="SelectModalLabel">รายละเอียดการชำระเงิน</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form [formGroup]="listData">
                    <div class="card p-3">
                        <div class="col p-2">
                            <div class="row">
                                <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">รหัสผู้ป่วย</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPassword"
                                        formControlName="userHnId" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col p-2">
                            <div class="row">
                                <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">ชื่อ
                                    - สกุล</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="text" id="form8Example3" class="form-control border-end-0"
                                                formControlName="userFirstname" readonly>
                                            <input type="text" id="form8Example3" class="form-control border-start-0"
                                                formControlName="userLastname" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col p-2">
                            <div class="row">
                                <label for="inputPassword"
                                    class="col-sm-4 col-form-label fw-bolder">เลขที่ใบสั่งยา</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPassword" formControlName="billId"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col p-2">
                            <div class="row">
                                <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">ว/ด/ป
                                    ที่รักษา</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPassword" formControlName="tmDate"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col p-2">
                            <div class="row">
                                <label for="inputPassword" class="col-sm-4 col-form-label fw-bolder">ยอดที่ชำระ</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="inputPassword" formControlName="tmMoney"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col p-2">
                            <div class="row">
                                <label for="inputPassword"
                                    class="col-sm-4 col-form-label fw-bolder">สลิปค่ารักษา</label>
                                <div class="col-sm-7 text-start px-0">
                                    <!-- <button type="button" class="btn btn-link " data-bs-toggle="modal"
                                        data-bs-target="#SlipModal" data-bs-dismiss="modal">
                                        <input type="text" class="form-control-plaintext" id="inputPassword"
                                            formControlName="tmSlip" readonly>
                                    </button> -->
                                    <img width="300px" src="{{imagePathSelected}}" alt="">
                                </div>
                            </div>
                            <!-- <qrcode [qrdata]="myQrCode" [width]="200" [errorCorrectionLevel]="'M'"></qrcode> -->
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-2 pt-3">
                            <button type="button" class="fw-bolder btn btn-warning"
                                data-bs-dismiss="modal">ตกลง</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Slip -->
<div class="modal fade text-dark" id="SlipModal" tabindex="-1" aria-labelledby="SlipModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body bg-light">
                <form [formGroup]="listData">
                    <div class="card p-3 shadow-sm" style="border-radius: 5px;">
                        <h5 class="text-center font-monospace p-0 m-0">หลักฐานการชำระเงินค่ารักษา</h5>
                    </div>
                    <br class="m-1">
                    <div class="card p-3 shadow-sm" style="border-radius: 5px;">
                        <div class="row justify-content-center p-2">
                            <div class="row profile">
                                <img src="{{imagePathSelected}}" alt="" width="auto" height="auto">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-2 pt-3">
                            <button type="button" class="fw-bolder btn btn-warning" data-bs-dismiss="modal">ปิด</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <img src="{{item.tmSlip}}"> -->