<!-- Breadcrumb -->
<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">จัดการข้อมูลการชำระเงิน</li>
    </ol>
</nav> -->

<div class="container" style="padding-top: 20px;">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
        <h3>จัดการข้อมูลการชำระเงิน</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                    << ย้อนกลับ</button>
            </div>
        </div>
    </div>

    <!-- queue number -->
    <div class="con-dataqueue">
        <div class="card col-md-12" style="">
            <div class="card shadow topbar static-top">
                <div class="card-body text-dark p-4">
                    <div class="row justify-content-end" style="padding-bottom: 15px;">
                        <div class="col-md-2">
                            <label class="">
                                <input type="search" class="form-control form-control-sm" aria-controls="Searchdata"
                                    placeholder="Search" />
                            </label>
                        </div>
                    </div>
                    <div class="dataTable table-responsive">
                        <div class="dataTable table-responsive">
                            <table class="table table-hover table-bordered border-primary text-center">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th scope="col">เลขที่ใบสั่งยา</th>
                                        <th class="col-md-3" scope="col">ชื่อ - สกุล</th>
                                        <th scope="col-md-1">ยอดชำระ</th>
                                        <th scope="col-md-2">สลิปค่ารักษา</th>
                                        <th class="col-md-2" scope="col">วันและเวลาที่อัปโหลด</th>
                                        <th scope="col">สถานะการชำระ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listDatas; let i = index">
                                        <th>{{i+1}}</th>
                                        <th>{{item.billId}}</th>
                                        <td>{{item.userId}}</td>
                                        <td>450.00</td>
                                        <td class="text-decoration-underline text-primary" (click)="selectslipmoney()">
                                            {{item.tmSlip}}
                                        </td>
                                        <td>{{item.tmDate}} {{item.tmTime}}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm text-white fw-bold"
                                                style="background-color: rgb(0, 191, 0);">
                                                <i class="bi bi-check2-circle"
                                                    style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                                                ผ่าน
                                            </button>&nbsp;
                                            <button type="button" class="btn btn-sm btn-danger text-white fw-bold">
                                                <i class="bi bi-x-circle"
                                                    style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                                                ไม่ผ่าน
                                            </button>                                          
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<canvas class="my-4 w-100" id="myChart" height="58"></canvas>