<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="doctor/treat">จัดการข้อมูลการรักษา</a></li>
        <li class="breadcrumb-item"><a href="doctor/treat/add-treat">ข้อมูลการรักษา</a></li>
        <li class="breadcrumb-item active" aria-current="page">ข้อมูลการสั่งจ่ายยา</li>
    </ol>
</nav>

<div class="container con-adddrug text-dark">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
        <h4>เพิ่มข้อมูลการจ่ายยา</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="../add-treat">
                    << ย้อนกลับ</button>
            </div>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-12">

            <!-- search -->
            <div class="card shadow" style="padding: 20px;">
                <form>
                    <div class="card c-search border-0" style="background-color: #f1f1f1;">
                        <div class="card-body">
                            <div class="row align-items-center p-1">
                                <div class="col-md-2 align-self-end">
                                    <h5 class="fw-bold text-center text-success"><i
                                            class="bi bi-search"></i>&nbsp;ค้นหาข้อมูลยา</h5>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control border-2 border-success" type="text"
                                        placeholder="กรอกรหัสยา" aria-label="default input example" name="drugId"
                                        [(ngModel)]="drugId">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control border-2 border-success" type="text"
                                        placeholder="กรอกชื่อยา" aria-label="default input example" name="drugName"
                                        [(ngModel)]="drugName">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control border-2 border-success" type="text"
                                        placeholder="กรอกชื่อทางการค้า" aria-label="default input example"
                                        name="drugTrademark" [(ngModel)]="drugTrademark">
                                </div>
                                <div class="col-md-auto">
                                    <div class="input-group">
                                        <button type="button" class="btn btn-success"
                                            (click)="getSearchByDrugName()">ค้นหา</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>

                <!-- select-drug -->
                <div class=" table-responsive">
                    <table class="table table-borderedborder border-3">
                        <thead class="table-primary">
                            <tr>
                                <th class="col-md-1">เลือก</th>
                                <th class="col-md-1">รหัสยา</th>
                                <th class="col-md-3">ชื่อยา</th>
                                <th class="col-md-3">ชื่อทางการค้า</th>
                                <th class="col-md-2">สถานะคงเหลือ</th>
                                <th class="col-md-2">ราคา : หน่วย</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let drug of listDatadrugs | paginate: {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count
                              }">
                                <tr>
                                    <th class="col-md-1 ">
                                        <button (click)="addDrug(drug)">
                                            <i class="bi bi-cart-plus p-0" style="color: rgb(0, 0, 0);"></i>
                                            <!-- <input name="add_to_cart" class="btn btn-ligth form-control"
                                                value="เพิ่ม" /> -->
                                        </button>
                                    </th>
                                    <td class="col-md-1 pt-2 pb-1" scope="row">{{drug.drugId}}</td>
                                    <td class="col-md-3 pt-2 pb-1">{{drug.drugName}}</td>
                                    <td class="col-md-3 pt-2 pb-1">{{drug.drugTrademark}}</td>
                                    <td class="col-md-2 pt-2 pb-1">{{drug.drugAmount}}</td>
                                    <td class="col-md-2 pt-2 pb-1">{{drug.drugPrice}}</td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <!-- adddrug -->
            <div class="card shadow" style="padding: 20px;">
                <form [formGroup]="DataUserForm" (ngSubmit)="onSubmitUser(item)">
                    <!-- (ngSubmit)="onSubmitUser(item)" -->
                    <h4 class="text-center" style="padding-bottom: 20px;">
                        <dt>รายการสั่งยา</dt>
                    </h4>
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label" for="username">
                                        <strong>รหัสผู้ป่วย</strong>
                                    </label>
                                    <input class="form-control" type="text" id="userHnId" placeholder="" name="userHnId"
                                        formControlName="userHnId" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label" for="username">
                                        <strong>รหัสการจองคิว</strong>
                                    </label>
                                    <input class="form-control" type="text" id="bkId" placeholder="" name="tmId"
                                        formControlName="bkId" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label" for="username">
                                        <strong>ชื่อ - สกุล</strong>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" id="form8Example3" class="form-control border-end-0"
                                            formControlName="userFirstname" readonly>
                                        <input type="text" id="form8Example3" class="form-control border-start-0"
                                            formControlName="userLastname" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label" for="username">
                                        <strong>โรคประจำตัว</strong>
                                    </label>
                                    <input class="form-control" type="text" id="tmId" placeholder="" name="tmId"
                                        formControlName="userDisease" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label" for="username">
                                        <strong>แพทย์ผู้รักษา</strong>
                                    </label>
                                    <input class="form-control" type="text" id="tmId" placeholder="" name="tmId"
                                        readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label" for="username">
                                        <strong>วันที่นัดครั้งถัดไป</strong>
                                    </label>
                                    <input class="form-control" type="date" id="tmId" placeholder="" name="tmId"
                                        formControlName="billNext">
                                </div>
                            </div>
                        </div>
                        <h6 class="fw-bold">
                            <dt>รายการยาที่สั่งจ่าย</dt>
                        </h6>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-center table-primary">
                                    <tr>
                                        <th class="col-1">No.</th>
                                        <th class="col-2">รหัสยา</th>
                                        <th class="col-3">รายการยา</th>
                                        <th class="col-1">ราคา</th>
                                        <th class="col-3">จำนวน : แผง</th>
                                        <th class="col-2">ราคารวม</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <ng-container *ngFor="let drug of cartDrugs; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{drug.drugId}}</td>
                                            <td class="text-start">
                                                {{drug.drugName}}
                                            </td>
                                            <td class="">{{drug.drugPrice}}</td>
                                            <td>
                                                <div class="input-group ">
                                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                                        (click)="addDrugCount(drug)">
                                                        <i class="bi bi-plus-lg p-0" style="color: rgb(0, 0, 0);"></i>
                                                    </button>
                                                    <span class="input-group-text border border-dark pt-0 pb-0">
                                                        &nbsp;&nbsp;
                                                        {{drug.drugCount}}
                                                        &nbsp;&nbsp;
                                                    </span>
                                                    <button class="btn btn-sm btn-outline-secondary" type="button"
                                                        (click)="removeDrugCount(drug)">
                                                        <i class="bi bi-dash-lg p-0" style="color: rgb(0, 0, 0);"></i>
                                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button class="btn btn-sm btn-danger" type="button"
                                                        (click)="removeDrug(i)">
                                                        <i class="bi bi-trash-fill p-0"
                                                            style="color: rgb(255, 255, 255);"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-end">{{drug.drugPrice * drug.drugCount | number}}</td>
                                        </tr>
                                    </ng-container>

                                    <tr class="text-center">
                                        <th class="text-start" scope="row" colspan="5">รวมทั้งสิ้น</th>
                                        <td class="text-end fw-bold">150</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12" style="text-align: center;">
                        <button type="submit" class="btn btn-outline-success">
                            บันทึกข้อมูล
                        </button>
                        <button type="button" class="btn btn-outline-success" (click)="generateReport(1)">
                            TEST REPORT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>