<div class="p-0 m-0" style="min-height: 559px;background-color: #214d90">
  <!-- carousel content -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide top-2 carousel-size" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="assets/images/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- end-carousel content -->

  <!-- row1 -->
  <!-- <div class="row m-0 text-white"
    style="padding-left: 100px;padding-right: 100px;padding-top: 10px;padding-bottom: 10px; background-color: #dadadb">
    <div class="col-md-12 text-dark" style="">
      <div class="row">
        <div class="col-md-auto">
          <dt><td>สถานการณ์โควิด-19 : {{currentDate}}</td></dt>
        </div>
      </div>
    </div>
  </div> -->

  <!-- row2 -->
  <div class="row m-0 text-white"
    style="padding-left: 100px;padding-right: 100px;padding-top: 10px;padding-bottom: 10px; background-color: #fefeff">
    <div class="col-md-12 text-dark" style="">
      <!-- <p class="pb-0 mb-0 font-monospace fw-bold" style="font-size: 28px;color: #214d90;">บริการทางการแพทย์</p> -->
      <div class="">
        <div class="row p-0">
          <div class="col-12">
            <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                  <div class="row m-0 p-0 justify-content-center">
                    <div class="col-md-auto p-0">
                      <div class="card border-0" style="background-color: #fefeff;">
                        <div class="card-body p-0 pb-1 pt-3" style="">
                          <p class="p-0 mb-0 font-monospace fw-bold" style="font-size: 24px;color: #214d90;">
                            บริการทางการแพทย์ :</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-auto p-2">
                      <div class="card shadow-sm" style="border-radius: 2px;background-color: #214d90;">
                        <div class="card-body p-2 pb-1" style="">
                          <h4 class="card-title" style="color: #ffffff;">แผนกสูตินรีเวช</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-auto p-2">
                      <div class="card shadow-sm" style="border-radius: 2px;background-color: #214d90;">
                        <div class="card-body p-2 pb-1">
                          <h4 class="card-title" style="color: #ffffff;">แผนกกุมารเวช</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-auto p-2">
                      <div class="card shadow-sm" style="border-radius: 2px;background-color: #214d90;">
                        <div class="card-body p-2 pb-1">
                          <h4 class="card-title" style="color: #ffffff;">&nbsp;แผนกอายุรกรรม&nbsp;</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-auto p-2">
                      <div class="card shadow-sm" style="border-radius: 2px;background-color: #214d90;">
                        <div class="card-body p-2 pb-1">
                          <h4 class="card-title" style="color: #ffffff;">&nbsp;แผนกศัลยกรรม&nbsp;</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-auto p-2">
                      <div class="card shadow-sm" style="border-radius: 2px;background-color: #214d90;">
                        <div class="card-body p-2 pb-1">
                          <h4 class="card-title" style="color: #ffffff;">&nbsp;แผนกและบริการอื่น ๆ&nbsp;</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row3 -->
  <div class="row m-0 text-white"
    style="padding-left: 100px;padding-right: 100px;padding-top: 50px;padding-bottom: 50px; background-color: #214d90">
    <div class="col-md-7 m-0" style="padding-top: 35px;padding-right: 10px;">
      <h2 class="p-0 pt-4 m-0">
        <dt class="font-monospace pb-4 pt-4 m-0">โรงพยาบาลนวเวช</dt>
      </h2>
      <div class="col-md-12" style="padding-right: 47px;padding-top: 10px;">
        <p class="font-monospace" style="font-size: 19px;">ป็นโรงพยาบาลสร้างใหม่ขนาดใหญ่ บนเนื้อที่ 8.5 ไร่
          ตั้งอยู่บนศูนย์กลางคมนาคมกรุงเทพฝั่งตะวันออก มีความสามารถในการบริหารด้านสุขภาพทุกช่วงวัยครอบคลุมทั้ง 4
          มิติสุขภาพอันประกอบด้วย ส่งเสริม, ป้องกัน, รักษา และฟื้นฟู ด้วยทีมบุคลากรทางการแพทย์
          ที่มีประสบการณ์เชี่ยวชาญเฉพาะทางแต่ละสาขา พร้อมทั้งเครื่องมือแพทย์ที่มีศักยภาพสูงสุด
          สภาพแวดล้อมที่สะอาด เทคโนโลยีสนับสนุนการบริการที่ทันสมัย เพื่อให้ผู้บริการได้รับการบริการที่ปลอดภัย พึงพอใจ
          สะดวกสบาย และรู้สึกรับรู้ถึงความคุ้มค่าของการบริการ</p>
      </div>
    </div>

    <div class="col-md-5 m-0 text-center" style="padding: 20px;">
      <img src="https://aec10news.com/wp-content/uploads/2021/06/Capture-2021-06-02-20.31.02.jpg"
        class="border border-3 border-white" style="width: 470px;" height="
          ">
    </div>
  </div>

  <!-- row4 กิจกรรม -->
  <div class="row m-0 text-white"
    style="padding-left: 100px;padding-right: 100px;padding-top: 30px;padding-bottom: 30px; background-color: #214d90">
    <div class="col-md-12 text-dark m-0" style="color: #fafaff;">
      <p class="font-monospace fw-bold text-white text-center" style="font-size: 28px;">ข่าวสารและกิจกรรม</p>
      <div class="" style="">
        <div class="">
          <div class="row p-0">
            <div class="col-12">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <div class="row justify-content-between text-right p-0 m-0">
                  <div class="col-md-1 p-0 pb-1 text-start">
                    <a class="" href="#carouselExampleIndicators2" role="button" data-slide="prev"
                      data-bs-target="#carouselExampleIndicators2">
                      <i class="bi bi-caret-left-square" style="font-size: 30px;color: rgb(255, 255, 255);"></i>
                    </a>
                  </div>
                  <div class="col-md-1 p-0 pb-1 text-end">
                    <a class="" href="#carouselExampleIndicators2" role="button" data-slide="next"
                      data-bs-target="#carouselExampleIndicators2">
                      <i class="bi bi-caret-right-square" style="font-size: 30px;color: rgb(255, 255, 255);"></i>
                    </a>
                  </div>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                          <div class="card-body p-3">
                            <h4 class="card-title">คลินิกฟื้นฟูสุขภาพผู้ป่วยโควิด-19</h4>
                            <p class="card-text">เปิดบริการในทุกด้านที่มีความสัมพันธ์กับโควิด-19</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                          <div class="card-body p-3">
                            <h4 class="card-title">แพ็กเกจตรวจสุขภาพรับมือโควิด-19</h4>
                            <p class="card-text">ตรวจสุขภาพรับมือโควิด-19 วันที่ 7 ก.ย. - 31 ต.ค. นี้ </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                          <div class="card-body p-3">
                            <h4 class="card-title">ขับเคลื่อน Healthcare เพื่อคนไทย</h4>
                            <p class="card-text">ชมรายการ "โลกวันนี้ ธุรกิจเพื่อพรุ่งนี้" ทุกวันศุกร์</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                          <div class="card-body p-3">
                            <h4 class="card-title">บริการ Home Service Center</h4>
                            <p class="card-text"> ดูแลคุณถึงที่โดยแพทย์เฉพาะทางตลอด 24 ชั่วโมง</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                          <div class="card-body p-3">
                            <h4 class="card-title">บริการ "60 Second Service"</h4>
                            <p class="card-text">ใบริการขั้นพื้นฐานจบกระบวนการภายใน 60 วินาที</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 10px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                          <div class="card-body p-3">
                            <h4 class="card-title">Sports medicine & Lifestyle</h4>
                            <p class="card-text">เปิดตัวบริการใหม่ "เวชศาสตร์การกีฬาและไลฟ์สไตล์"</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 7px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                          <div class="card-body p-3">
                            <h4 class="card-title">ปรึกษาโรคหัวใจตลอด 24 ชั่วโมง</h4>
                            <p class="card-text">ให้คำปรึกษาปัญหาโรคหัวใจ โทร 065-509-9198</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 7px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                          <div class="card-body p-3">
                            <h4 class="card-title">พิชิตโรคไตเรื้อรังระยะสุดท้าย</h4>
                            <p class="card-text">ให้คำปรึกษาการผ่าตัดปลูกถ่ายไต โดยไม่มีค่าใช้จ่าย</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card shadow-sm" style="border-radius: 7px; padding: 3px;">
                          <img class="img-fluid" style="border-radius: 7px;" alt="100%x280"
                            src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                          <div class="card-body p-3">
                            <h4 class="card-title">ส่งเสริมสุขภาพดีสู่ชุมชน</h4>
                            <p class="card-text">หน่วยแพทย์เคลื่อนที่ออกตรวจรักษาโรคให้กับชาวบ้าน</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row5 -->
  <div class="row m-0 pt-4 pb-4 text-dark" style="padding-left: 100px;padding-right: 100px; background-color: #fafaff;">
    <div class="col-md-9 m-0 p-2 border border-start-0 border-top-0 border-bottom-0" style="">
      <div class="row">
        <div class="col-md-5">
          <img src="https://navavej.com/wp-content/uploads/2021/02/MAP-01-1.jpg" class="border border-light"
            style="width: 400px;" height="">
        </div>
        <div class="col-md-7" style="padding-left: 25px;">
          <div class="col-md-12 pt-3">
            <p class="font-monospace pt-4 pb-3" style="font-size: 30px;color: #1a488d;">
              <dt>โรงพยาบาลนวเวช</dt>
            </p>
          </div>
          <div class="col-md-12 pb-2">
            <i class="bi bi-geo-alt-fill" style="font-size: 18px; color: #232527;"></i>&nbsp;&nbsp;&nbsp;
            Address : 9 ถ.รัชดา-รามอินทรา แขวงนวลจันทร์ เขตบึงกุ่ม กรุงเทพฯ 10230
          </div>
          <div class="col-md-12 pb-2">
            <i class="bi bi-telephone-fill" style="font-size: 18px; color: #232527;"></i>&nbsp;&nbsp;&nbsp;
            Tel : 06-5875-8695
          </div>
          <div class="col-md-12 pb-2">
            <i class="bi bi-envelope-fill" style="font-size: 18px; color: #232527;"></i>&nbsp;&nbsp;&nbsp;
            Email : newnormalfront@gmail.com
          </div>
          <div class="col-md-12">
            <i class="bi bi-envelope-fill" style="font-size: 18px; color: #232527;"></i>&nbsp;&nbsp;&nbsp;
            Facebook : Navavej InternationalHospital
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-0 text-center" style="padding: 20px;">

    </div>
  </div>

</div><!-- end cless -->