<div class="container p-3 text-dark">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">ประวัติผู้ป่วย</li>
        </ol>
    </nav>

    <div class="container con-pro pb-0 text-dark">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
            <h3>ประวัติผู้ป่วย</h3>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                        << ย้อนกลับ</button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- profile -->
            <div class="col-md-12 pb-4">
                <div class="card shadow" style="border-radius: 10px;">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-md-4 col-sm-6 align-self-center">
                                <h6 class="m-0">ประวัติผู้ป่วย</h6>
                            </div>
                            <div class="col-md-4 col-sm-6 text-end p-0">
                                <div class="p-0">
                                    <a class="nav-link pb-0 pt-0" aria-expanded="false" data-bs-toggle="modal"
                                        data-bs-target="#buttonEditModal">
                                        <i class="bi bi-pencil-square"
                                            style="font-size: 19px; color: rgb(238, 91, 6);"></i>
                                    </a>
                                    <!-- <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edittelModal">
                                            <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>แก้ไขเบอร์โทร</a>
                                        <a class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#editEmailModal">
                                            <i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>แก้ไขอีเมล</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="DataUserForm" class="row g-3 p-2">
                            <div class="col-md-2 col-sm-12">
                                <label for="validationCustom01" class="form-label">สถานะการใช้งาน</label>
                                <input type="text" class="form-control" id="validationCustom01" value=""
                                    formControlName="userStatus" readonly>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label for="validationCustom01" class="form-label">รหัสผู้ป่วย</label>
                                <input type="text" class="form-control" id="validationCustom01" value=""
                                    formControlName="userHnId" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="validationCustom01" class="form-label">หมายเลขประจำตัวประชาชน</label>
                                <input type="text" class="form-control" id="validationCustom01" value=""
                                    formControlName="userCardId" readonly>
                            </div>
                            <div class="col-md-1">
                                <label for="validationCustom01" class="form-label">คำนำหน้า</label>
                                <input type="text" class="form-control" id="validationCustom01" value=""
                                    formControlName="userTitle" readonly>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">ชื่อ - สกุล</label>
                                    <div class="input-group">
                                        <input type="text" id="form8Example3" class="form-control border-end-0"
                                            formControlName="userFirstname" readonly>
                                        <input type="text" id="form8Example3" class="form-control border-start-0"
                                            formControlName="userLastname" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="validationCustom02" class="form-label">วันเดือนปีเกิด</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userBirthday" readonly>
                            </div>
                            <div class="col-md-2">
                                <label for="validationCustom02" class="form-label">ที่อยู่</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userAddrass" readonly>
                            </div>
                            <div class="col-md-2">
                                <label for="validationCustom02" class="form-label">รหัสไปรษณีย์</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="zipCode" readonly>
                            </div>
                            <div class="col-md-2">
                                <label for="validationCustom02" class="form-label">จังหวัด</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="provinceInput" readonly>
                            </div>
                            <div class="col-md-2">
                                <label for="validationCustom02" class="form-label">อำเภอ</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="districtInput" readonly>
                            </div>
                            <div class="col-md-2">
                                <label for="validationCustom02" class="form-label">ตำบล</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="subdistrictInput" readonly>
                            </div>
                            <div class="col-md-1 col-sm-6">
                                <label for="validationCustom02" class="form-label">เพศ</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userGender" readonly>
                            </div>
                            <div class="col-md-1 col-sm-6">
                                <label for="validationCustom02" class="form-label">กรุ๊ปเลือด</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userBlood" readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">โรคประจำตัว</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userDisease" readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">แผนกที่รักษา</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userDepartment" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom02" class="form-label">ประวัติการแพ้ยา</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userAllergy" readonly>
                            </div>
                            <!-- <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">แพทย์ผู้รักษา</label>
                                <input type="text" class="form-control" id="validationCustom02" value="" readonly>
                            </div> -->
                            <div class="col-md-2">
                                <label for="validationCustom02" class="form-label">เบอร์โทรศัพท์</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userPhone" readonly>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">อีเมล</label>
                                <input type="text" class="form-control" id="validationCustom02" value=""
                                    formControlName="userEmail" readonly>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 36px;"></div>
    </div>
    <!-- end con-pro -->
</div>

<!-- Model Edit Button -->
<div class="modal fade" id="buttonEditModal" tabindex="-1" aria-labelledby="buttonEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm text-dark">
        <div class="modal-content"  style="background-image: url(https://img.lovepik.com/photo/40149/7042.jpg_wh860.jpg);">
            <div class="modal-body">
                <form [formGroup]="DataUserForm" (ngSubmit)="onSubmitTel()">
                    <div class="card p-3">
                        <div class="col-md-12 text-center">
                            <h5 class="text-center font-monospace">แก้ไขข้อมูล</h5>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#edittelModal" data-bs-dismiss="modal">
                                    <i class="bi bi-telephone-fill"
                                        style="font-size: 11px; color: rgb(255, 255, 255);"></i>
                                    &nbsp;เบอร์โทร
                                </button>
                            </div>
                            <div class="col-md-6 text-center">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#editEmailModal" data-bs-dismiss="modal">&nbsp;
                                    <i class="bi bi-envelope-fill"
                                        style="font-size: 13px; color: rgb(255, 255, 255);"></i>
                                    &nbsp;อีเมล&nbsp;&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Model Edit Tel -->
<div class="modal fade" id="edittelModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="edittelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-dark">
        <div class="modal-content"
            style="background-image: url(https://www.img.in.th/images/f50702c041e25f92cf27d684fbee70b5.jpg);">
            <div class="modal-body">
                <form [formGroup]="DataUserForm" (ngSubmit)="onSubmitTel()">
                    <div class="card p-3">
                        <div class="row justify-content-center">
                            <h5 class="text-center font-monospace pb-2">เบอร์โทรศัพท์ใหม่</h5>
                            <br>
                            <div class="col-md-9 pb-3">
                                <input class="form-control" type="text" placeholder="หมายเลขโทรศัพท์"
                                    aria-label="default input example" formControlName="userPhone" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-auto pt-3">
                                <button type="submit" class="fw-bolder btn btn-success">ตั้งค่าใหม่</button>&nbsp;
                                <button type="button" class="fw-bolder btn btn-danger" data-bs-dismiss="modal"
                                    aria-label="Close" (click)="refresh()">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Model Edit Email -->
<div class="modal fade" id="editEmailModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="editEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-dark">
        <div class="modal-content"
            style="background-image: url(https://images.axa-contento-118412.eu/ktaxa/860d55ad-1b76-4c51-aeb2-73ebbd3fd44b_IMG_Yanhee_4.jpg?auto=compress,format);">
            <div class="modal-body">
                <form [formGroup]="DataUserForm" (ngSubmit)="onSubmitEmail()">
                    <div class="card p-3 border-0">
                        <div class="row justify-content-center">
                            <h5 class="text-center font-monospace pb-2">เปลี่ยนอีเมลใหม่</h5>
                            <br>
                            <div class="col-md-9 pb-3">
                                <input class="form-control" type="text" placeholder="อีเมล"
                                    aria-label="default input example" formControlName="userEmail" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-auto pt-3">
                                <button type="submit" class="fw-bolder btn btn-success">ตั้งค่าใหม่</button>&nbsp;
                                <button type="button" class="fw-bolder btn btn-danger" data-bs-dismiss="modal"
                                    aria-label="Close" (click)="refresh()">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>