<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">จัดการข้อมูลการจ่ายยา</li>
    </ol>
</nav>

<div class="container" style="padding-left: 12px;padding-right: 12px;">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
        <h4>จัดการข้อมูลการจ่ายยา</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                    << ย้อนกลับ</button>
            </div>
        </div>
    </div>

    <!-- card-search -->
    <div class="card bg-light text-dark">
        <div class="card-body">
            <h6 class="font-monospace fw-bold">ค้นหาข้อมูล</h6>
            <div class="container">
                <form>
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="inputnumber" class="col-form-label">เลขที่ใบสั่งยา : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example" name="billId" [(ngModel)]="billId">
                        </div>
                        <div class="col-auto">
                            <label for="inputnumber" class="col-form-label">&nbsp;รหัสผู้ป่วย : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example" name="userHnId" [(ngModel)]="userHnId">
                        </div>
                        <div class="col-auto">
                            <label for="inputnumber" class="col-form-label">&nbsp;ชื่อ : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example" name="userFirstname" [(ngModel)]="userFirstname">
                        </div>
                        <div class="col-auto">
                            <label for="inputnumber" class="col-form-label">&nbsp;สกุล : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example" name="userLastname" [(ngModel)]="userLastname">
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div class="col-md-auto text-end">
                            <div class="input-group-sm">
                                <button type="submit" class="btn btn-outline-primary col-md-12"
                                    (click)="getSearchTreatByCriteria()"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="18" height="18" fill="currentColor" class="bi bi-search"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                    &nbsp;ค้นหา
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <!-- data add-drug -->
    <h5 class="text-dark pb-2">ข้อมูลการสั่งจ่ายยา</h5>
    <div class="card table-responsive shadow-sm p-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">เลขที่สั่งยา</th>
                    <th class="col-md-2">วันและเวลาที่สั่งจ่ายยา</th>
                    <th class="col-md-2">ชื่อ - สกุล</th>
                    <th class="col-md-2">โรคประจำตัว</th>
                    <th class="col-md-1 text-center">รายละเอียด</th>
                    <th class="col-md-1 text-center">การชำระ</th>
                    <th class="col-md-1 text-center">สถานะ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listDatauser">
                    <td class="col-md-1" scope="row">{{item.billId}}</td>
                    <td class="col-md-2">{{item.billdrug.billDate | date : "dd.MM.y"}}
                        &nbsp;&nbsp;{{item.billdrug.billTime | date :
                        "HH:mm:ss"}}</td>
                    <td class="col-md-2">{{item.user.userFirstname}} {{item.user.userLastname}}</td>
                    <td class="col-md-2"  data-bs-toggle="modal" data-bs-target="#drugModal">{{item.user.userDisease}}</td>
                    <td class=" col-md-1 text-center">
                        <button type="button" class="btn btn-sm btn-success" (click)="generateReport(item.billId)">
                            <i class="bi bi-eye-fill" style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                            ใบจ่ายยา
                        </button>
                    </td>
                    <!-- Status การชำระ -->
                    <td *ngIf="item.tmStatus ==='W'" class="col-md-1 text-center">
                        <span class="b-danger badge p-2">
                            <dt style="font-size: 15px;">ยังไม่ชำระ</dt>
                        </span>
                    </td>
                    <td *ngIf="item.tmStatus ==='S'" class="col-md-1 text-center">
                        <span class="b-sueeess badge p-2">
                            <dt style="font-size: 15px;">ชำระแล้ว</dt>
                        </span>
                    </td>
                    <td *ngIf="item.tmStatus ==='WC'" class="col-md-1 text-center">
                        <span class="text-warning badge p-2">
                            <dt style="font-size: 15px;">รอตรวจสอบ</dt>
                        </span>
                    </td>
                    <td *ngIf="item.tmStatus ==='C'" class="col-md-1 text-center">
                        <span class="b-danger badge p-2">
                            <dt style="font-size: 15px;">ยกเลิกแล้ว</dt>
                        </span>
                    </td>
                    <td *ngIf="item.tmStatus ==='N'" class="col-md-1 text-center">
                        <span class="b-danger badge p-2">
                            <dt style="font-size: 15px;">แนบไฟล์ใหม่!</dt>
                        </span>
                    </td>

                    <!-- Status การจ่ายยา -->
                    <td *ngIf="item.billdrug.billStatus ==='S'" class="col-md-1 text-center">
                        <span class="b-sueeess badge p-2">
                            <dt style="font-size: 15px;">จ่ายยาแล้ว</dt>
                        </span>
                    </td>
                    <td *ngIf="item.billdrug.billStatus ==='C'" class="col-md-1 text-center">
                        <span class="b-danger badge p-2">
                            <dt class="p-1 border border-danger font-monospace" style="font-size: 15px;">ยกเลิกบิล!</dt>
                        </span>
                    </td>
                    <td *ngIf="item.billdrug.billStatus ==='O'" class="col-md-1 text-center">
                        <button type="button" class="btn btn-sm btn-danger" (click)="gotoCancalBill(item)">
                            <dt style="font-size: 13px;">ยกเลิกสั่ง</dt>
                        </button>
                    </td>
                    <!-- <td class="text-center">
                        <button type="button" class="btn btn-sm btn-danger" (click)="gotoCancalBill()">
                            <i class="bi bi-x-circle" style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                            ยกเลิก
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <!--table-->
    </div>
</div>
<br>
<canvas class="my-4 w-100" id="myChart" height="50"></canvas>


<!-- Modal -->
<div class="modal fade text-dark" id="drugModal" tabindex="-1" aria-labelledby="drugModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="drugModalLabel">รายละเอียดการสั่งจ่ายยา</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form [formGroup]="listDatausers">
                    <div class="card shadow" style="padding: 20px;">
                        <h4 class="text-center" style="padding-bottom: 20px;">
                            <dt>รายการสั่งยา</dt>
                        </h4>
                        <div>
                            <form [formGroup]="listDatausers">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="username">
                                                <strong>รหัสผู้ป่วย</strong>
                                            </label>
                                            <input class="form-control" type="text" id="tmId" placeholder=""
                                                formControlName="userHnId" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="username">
                                                <strong>รหัสการจองคิว</strong>
                                            </label>
                                            <input class="form-control" type="text" id="tmId" placeholder=""
                                                formControlName="bkId" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form8Example3">ชื่อ - สกุล</label>
                                            <div class="input-group">
                                                <input type="text" id="form8Example3" class="form-control border-end-0"
                                                    formControlName="userFirstname" readonly>
                                                <input type="text" id="form8Example3"
                                                    class="form-control border-start-0" formControlName="userLastname"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="username">
                                                <strong>โรคประจำตัว</strong>
                                            </label>
                                            <input class="form-control" type="text" id="tmId" placeholder=""
                                                formControlName="userDisease" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="username">
                                                <strong>แพทย์ผู้รักษา</strong>
                                            </label>
                                            <input class="form-control" type="text" id="tmId" placeholder="" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form8Example3">วันและเวลาที่เข้ารักษา</label>
                                            <div class="input-group">
                                                <input type="text" id="form8Example3" class="form-control border-end-0"
                                                    formControlName="bkDate" readonly>
                                                <input type="text" id="form8Example3"
                                                    class="form-control border-start-0" formControlName="bkTime"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <h6 class="fw-bold">
                                <dt>รายการยาที่สั่งจ่าย</dt>
                            </h6>
                            <div class="table-responsive border border-dark" style="height: 200px; padding: 0px;">
                                 <!-- <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
                                <!-- <table class="table table-bordered">
                                    <thead class="text-center table-primary">
                                        <tr>
                                            <th scope="col-auto">No.</th>
                                            <th scope="col-4">รหัสยา</th>
                                            <th scope="col">รายการยา</th>
                                            <th scope="col">จำนวน</th>
                                            <th scope="col">ราคา : บาท</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center p-0">
                                        <tr *ngFor="let item of listDataDrug; let i = index">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.drugId}}</td>
                                            <td class="text-start">{{item.drugName}}</td>
                                            <td>{{item.drugId}}</td>
                                            <td class="text-end">{{item.drugPrice}}</td>
                                        </tr>
                                        <tr class="text-center sticky-top" style="position: sticky; bottom: 0;">
                                            <th class="text-start" scope="row" colspan="4">รวมทั้งสิ้น</th>
                                            <td class="text-end fw-bold">150</td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-2 pt-3">
                            <button type="button" class="fw-bolder btn btn-warning"
                                data-bs-dismiss="modal">ตกลง</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>