<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">จัดการข้อมูลการรักษา</li>
    </ol>
</nav>

<div class="container con-treat">

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
        <h4>จัดการข้อมูลการรักษา</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                    << ย้อนกลับ</button>
            </div>
        </div>
    </div>

    <!-- card-search -->
    <div class="card bg-light text-dark">
        <div class="card-body">
            <h6 class="font-monospace fw-bold">ค้นหาข้อมูลผู้ป่วย</h6>
            <div class="container">
                <form>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputnumber" class="col-form-label">รหัสผู้ป่วย : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example">
                        </div>
                        <div class="col-auto">
                            <label for="inputnumber" class="col-form-label">&emsp;ชื่อ : </label>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example">
                        </div>
                        <div class="col-auto">
                            <label for="inputnumber" class="col-form-label">&emsp;สกุล : </label>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example">
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div class="col-md-1">
                            <div class="input-group-sm">
                                <button type="submit" class="btn btn-outline-primary col-md-12"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                    &nbsp;ค้นหา
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <!-- databooking -->
    <h5 class="text-dark">ข้อมูลผู้ป่วย</h5>
    <div class="card shadow-sm p-3">
        <table class="table border-primary">
            <thead>
                <tr class="text-center">
                    <th scope="col">รหัสผู้ป่วย</th>
                    <th scope="col">ชื่อ - สกุล</th>
                    <th scope="col">โรคประจำตัว</th>
                    <th scope="col">เบอร์โทร</th>
                    <th scope="col">อีเมล</th>
                    <th scope="col">Button</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">0007248</td>
                <td class="text-center">ปราการ  จันแจง</td>
                <td class="text-center">หัวใจ</td>
                <td class="text-center">xxxxxxxxxx</td>
                <td class="text-center">xxxxxxxxx@gmail.com</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-primary" routerLink="../treat/add-treat">
                        <i class="bi bi-clipboard-plus" style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                        เพิ่มข้อมูล
                    </button>&nbsp;
                    <button type="button" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square" style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                        แก้ไขข้อมูล
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-center">0007248</td>
                <td class="text-center">ปราการ  จันแจง</td>
                <td class="text-center">หัวใจ</td>
                <td class="text-center">xxxxxxxxxx</td>
                <td class="text-center">xxxxxxxxx@gmail.com</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-primary" routerLink="../treat/add-treat">
                        <i class="bi bi-clipboard-plus" style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                        เพิ่มข้อมูล
                    </button>&nbsp;
                    <button type="button" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square" style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                        แก้ไขข้อมูล
                    </button>
                </td>
            </tr>
        </tbody>
        </table>
        <!--table-->
    </div>

</div><!-- end -->

<br>
<canvas class="my-4 w-100" id="myChart" height="78"></canvas>