<div class="card text-dark shadow-sm " style="margin: 3rem; background-color: rgb(255, 255, 255);border-radius: 10px;">
    <div class="card-body" style="margin: 1rem;">

        <!-- header -->
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <img src="assets/images/hospitallogo.jpg" alt="" width="110">
            </div>
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <div class="col">
                        <h6 class="font-monospace">
                            <dt>รายละเอียดการสั่งยา</dt>
                        </h6>
                        <p><small>
                                <dt>Prescription Details</dt>
                            </small></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row justify-content-end">
                        <label for="inputTmId" class="col-sm-auto col-form-label fw-bold">
                            <h5>HN : </h5>
                        </label>
                        <div class="col-sm-5">
                            <h5><input type="text" readonly class="form-control-plaintext fw-bold" id="staticDate"
                                    value="0000000000"></h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- table-data -->
        <table class="table table-bordered border border-2 border-dark" style="background-color: rgb(255, 255, 255);">
            <thead>

                <!-- billId datetreat -->
                <tr>
                    <th class="col-md-6">
                        <div class="row" style="padding-left: 10px;">
                            <label for="inputText" class="col-sm-auto col-form-label">เลขที่ใบสั่งยา : </label>
                            <div class="col-sm-7">
                                <input type="text" readonly class="form-control-plaintext" id="staticText" value="">
                            </div>
                        </div>
                    </th>
                    <th class="col-md-6">
                        <div class="row" style="padding-left: 10px;">
                            <div class="col-md-7">
                                <div class="row">
                                    <label for="inputDate" class="col-sm-auto col-form-label">วันที่เข้ารักษา : </label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control-plaintext" id="staticDate"
                                            value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <label for="inputDate" class="col-sm-auto col-form-label">เวลา : </label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control-plaintext" id="staticTime"
                                            value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>

                <!-- name-disease -->
                <tr>
                    <th class="col-md-6">
                        <div class="row" style="padding-left: 10px;">
                            <label for="inputDate" class="col-sm-auto col-form-label">ชื่อ - สกุล : </label>
                            <div class="col-sm-2">
                                <input type="text" readonly class="form-control-plaintext" id="staticDate" value="">
                            </div>
                            <div class="col-sm-auto">
                                <input type="text" readonly class="form-control-plaintext" id="staticTime" value="">
                            </div>
                        </div>
                    </th>
                    <th class="col-md-6">
                        <div class="row" style="padding-left: 10px;">
                            <label for="inputDate" class="col-sm-auto col-form-label">โรคประจำตัว : </label>
                            <div class="col-sm-auto">
                                <input type="text" readonly class="form-control-plaintext" id="staticDate" value="">
                            </div>
                        </div>
                    </th>
                </tr>

                <!-- teble-drug-->
                <tr>
                    <th colspan="2" style="padding: 1rem;">
                        <h6>
                            <dt>รายการสั่งยา</dt>
                        </h6>
                        <table class="table table-bordered border-dark">
                            <thead>
                                <tr class="text-center">
                                    <th class="col-1">No.</th>
                                    <th class="col-auto">ชื่อยา</th>
                                    <th class="col-2">จำนวน</th>
                                    <th class="col-2">ราคา</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <th scope="row">1</th>
                                    <td class="text-start">Mark</td>
                                    <td>2</td>
                                    <td>20</td>
                                </tr>
                                <tr class="text-center">
                                    <th scope="row">2</th>
                                    <td class="text-start">Mark</td>
                                    <td>3</td>
                                    <td>400</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="text-center">
                                    <th class="text-start" colspan="3">รวมทั้งหมด</th>
                                    <th class="col-2">420</th>
                                </tr>
                            </thead>
                        </table>
                    </th>
                </tr>

                <!-- data- QR-Code -->
                <tr>
                    <th>
                        <div class="row align-items-start p-3">
                            <div class="col-md-12 pb-2">
                                <div class="row">
                                    <label for="staticEmail" class="col-sm-auto col-form-label">แพทย์ผู้รักษา : </label>
                                    <div class="col-sm-auto">
                                        <input type="text" readonly class="form-control-plaintext"
                                            style="font-size: large;" id="staticEmail" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label for="staticEmail" class="col-sm-auto col-form-label">พบแพทย์ครั้งต่อไป :
                                    </label>
                                    <div class="col-sm-auto">
                                        <input type="text" readonly class="form-control-plaintext" id="staticDate"
                                            value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th class="col-md-6 p-2">
                        <div class="row text-center p-0 m-0">
                            <div class="col-md-7 p-4 border-end">
                                <h3 class="p-1 font-monospace">
                                    <dt>QR Promptpay</dt>
                                </h3>
                                <h6 class="p-1 pt-2">
                                    <dt>ชำระค่ารักษาพยาบาล</dt>
                                </h6>
                            </div>
                            <div class="col-md-5 p-0">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
                                    class="rounded" alt="..." style="width: 60%;">
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="d-grid p-2 d-md-flex justify-content-center">
            <button class="btn btn-primary me-md-2" type="button" onclick="window.print();">พิมพ์ใบสั่งยา</button>
        </div>
    </div>
</div>