<div class="container p-3 text-dark">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">ข้อมูลการจองคิว</li>
        </ol>
    </nav>

    <div class="container">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
            <h3>ข้อมูลการจองคิว</h3>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                        << ย้อนกลับ </button>
                </div>
            </div>
        </div>

        <!-- queue number -->
        <div class="con-dataqueue">
            <div class="col-md-12">
                <div class="card shadow topbar static-top" style="border-radius: 10px;">
                    <div class="card-body text-dark p-4">
                        <div class="row justify-content-end">
                            <div class="col-md-2 data-time">
                                <label class="">
                                    <input type="search" class="form-control form-control-sm" aria-controls="Searchdata"
                                        placeholder="Search" />
                                </label>
                            </div>
                        </div>
                        <div class="dataTable table-responsive">
                            <div class="dataTable table-responsive">
                                <table class="table table-hover  border-primary text-center">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1">ลำดับ</th>
                                            <th class="col-md-2">วันและเวลาที่เข้ารักษา</th>
                                            <th class="col-md-2">รหัสการจอง</th>
                                            <th class="col-md-2">โรคประจำตัว</th>
                                            <th class="col-md-2">แพทย์ผู้รักษา</th>
                                            <th class="col-md-2">รายละเอียด</th>
                                            <th class="col-md-2">สถานะ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listDatauser; let i = index">
                                            <th>{{i+1}}</th>
                                            <td>{{item.tmDate}}</td>
                                            <td>{{item.bkId}}</td>
                                            <td>{{item.user.userDisease}}</td>
                                            <td>{{item.userId}}</td>
                                            <!-- <td>{{item.user.userFirstname}} {{item.user.userLastname}}</td> -->
                                            <td>
                                                <button type="button" class="btn btn-sm btn-primary"
                                                    data-bs-toggle="modal" data-bs-target="#databookingModal"
                                                    (click)="selectDataBooking(item)">
                                                    <i class="bi bi-clipboard-plus"></i>&nbsp;ข้อมูลการจองคิว
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger"
                                                    (click)="cancelbooking()">
                                                    ยกเลิกจอง
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<canvas class="my-4 w-100" id="myChart" height="44"></canvas>

<!-- Model databooking1 -->
<div class="modal fade" id="databookingModal" tabindex="-1" aria-labelledby="databookingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-dark">
            <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="SelectModalLabel">รายละเอียดการจองคิวเข้ารักษา </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form [formGroup]="listDatausers">
                    <div class="card p-3 pb-0">
                        <div class="row mb-4">
                            <div class="col-md-4 pb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">รหัสการจองคิว</label>
                                    <input type="text" id="form8Example3" class="form-control" formControlName="bkId"
                                        readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">รหัสผู้ป่วย HN</label>
                                    <input type="text" id="form8Example3" class="form-control" formControlName="tmId"
                                        readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">วันและเวลาที่เข้ารักษา</label>
                                    <div class="input-group">
                                        <input type="text" id="form8Example3" class="form-control" value=""
                                            formControlName="tmDate" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">ชื่อ - สกุล</label>
                                    <div class="input-group">
                                        <input type="text" id="form8Example3" class="form-control border-end-0"
                                            formControlName="userFirstname" readonly>
                                        <input type="text" id="form8Example3" class="form-control border-start-0"
                                            formControlName="userLastname" readonly>
                                    </div>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">อาการ (ถ้ามี)</label>
                                    <input type="text" id="form8Example3" class="form-control"  formControlName="bkSymptom" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6 pb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">เบอร์โทร</label>
                                    <input type="text" id="form8Example3" class="form-control"  formControlName="userPhone" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">อีเมล</label>
                                    <input type="text" id="form8Example3" class="form-control"  formControlName="userEmail" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">แผนกที่เข้ารับการรักษา</label>
                                    <input type="text" id="form8Example3" class="form-control"  formControlName="userDepartment" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">แพทย์ผู้รักษา</label>
                                    <input type="text" id="form8Example3" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>