<div class="container p-4" style="height: 614px;background-color: #F0F8FF;">

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="text-dark">จัดการข้อมูลผู้ใช้งาน</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-success"
                    routerLink="../register">เพิ่มผู้ใช้งาน</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-info" (click)="refresh()">รีโหลด</button>
        </div>
    </div>

    <div class="card shadow border-0">
        <div class="card-header border-0">
            <p class="text-primary m-0 fw-bold p-2 px-0">ข้อมูลผู้ใช้งาน</p>
        </div>
        <div class="card-body text-secondary p-3 pb-0 border-0">
            <div class="row justify-content-end pb-2">
                <!-- <div class="col-6">
                    <div class="mb-3 row align-items-center">
                        <label for="inputPassword" class="col-sm-auto col-form-label">แสดงข้อมูล</label>
                        <div class="col-sm-2">
                            <select class="form-select form-select-sm" aria-label="Default select example">
                                <option value="1">5</option>
                                <option value="2">10</option>
                                <option value="3">20</option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-2">
                    <input class="form-control form-control-sm" type="text" placeholder="ค้นหา"
                        aria-label="default input example">
                </div>
            </div>

            <div class="table-responsive">
                <table class="table text-secondary table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">ลำดับ</th>
                            <th class="col-md-2">รหัสบัตรประชาชน</th>
                            <th class="col-md-2">ชื่อ - สกุล</th>
                            <th class="col-md-1">เพศ</th>
                            <th class="col-md-2">ประเภทผู้ใช้งาน</th>
                            <th class="col-md-2">สถานะการใช้งาน</th>
                            <th class="col-md-2">ดำเนินการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listUser | paginate: {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.userCardId}}</td>
                            <td>{{item.userTitle}}{{item.userFirstname}} {{item.userLastname}}</td>
                            <td>{{item.userGender}}</td>
                            <td>{{item.role.roleDescription}}</td>
                            <td>{{item.userStatus}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm"
                                    (click)="gotoAdminEdit(item)">แก้ไข</button>
                                &nbsp;
                                <button type="button" class="btn btn-danger btn-sm"
                                    (click)="deleteUser(item)">ลบ</button>
                                <!-- <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">ลบ</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">ลบข้อมูลผู้ใช้งาน</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   คุณต้องการลบข้อมูลผู้ใช้งานนี้ ใช่ หรือ ไม่?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-danger">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- <div class="card-body">
    <app-admin-register></app-admin-register>
</div> -->