<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">ประวัติแพทย์</li>
    </ol>
</nav>

<div class="container con-pro text-dark">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
        <h3>ประวัติแพทย์</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-success">แก้ไขข้อมูล</button>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- data-medical / Settings -->
        <div class="col-md-4">

            <!-- data-medical -->
            <div class="col">
                <div class="card">
                    <div class="card-header text-center p-0">
                        <form action="" method="post">
                            <div class="row profile">
                                <img src="https://pbs.twimg.com/media/ET4aoWOXsAIL0Ip.jpg" alt="" width="290"
                                    height="250">
                            </div>
                        </form>
                    </div>
                    <div class="card-body p-0 border-2">
                        <form action="" method="post">
                            <div class="row profile">
                                <div class="col">
                                    <div class="mb-3 row pt-3 justify-content-center">
                                        <label for="staticEmail" class="col-sm-auto col-form-label fw-bold">เลขที่ใบประกอบวิชาชีพ :
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                                value=" 12345678910">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- settings -->
            <div class="col pt-4">
                <div class="card">
                    <div class="card-header">
                        <h6>ตั้งค่าการใช้งาน</h6>
                    </div>
                    <div class="card-body">
                        <div class="row" style="padding-left: 15px;">
                            <div class="col-auto">
                                <label for="inputDate" class="col-sm-auto col-form-label">สถานการใช้งาน : </label>
                            </div>
                            <div class="col-7 align-self-center">
                                <span class="badge bg-success">
                                    <i class="bi bi-check2-circle"
                                        style="font-size: 1rem; color: rgb(255, 255, 255);"></i> สมาชิก
                                </span>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 15px;">
                            <div class="col-4">
                                <label for="inputDate" class="col-sm-auto col-form-label">รหัสผู้ใช้งาน : </label>
                            </div>
                            <div class="col-8">
                                <input type="text" readonly class="form-control-plaintext" id="staticDate"
                                    value="xxxxxxx">
                            </div>
                        </div>
                        <div class="row" style="padding-left: 15px;">
                            <div class="col-4">
                                <label for="inputDate" class="col-sm-auto col-form-label">Username : </label>
                            </div>
                            <div class="col-8">
                                <input type="text" readonly class="form-control-plaintext" id="staticDate"
                                    value="xxxxxxx">
                            </div>
                        </div>
                        <div class="row" style="padding-left: 15px;">
                            <div class="col-4">
                                <label for="inputDate" class="col-sm-auto col-form-label">Password : </label>
                            </div>
                            <div class="col-8">
                                <input type="text" readonly class="form-control-plaintext" id="staticDate"
                                    value="xxxxxxx">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- profile -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h6>ประวัติแพทย์</h6>
                </div>
                <div class="card-body">
                    <form action="" class="row g-4">
                        <div class="col-4">
                            <label for="validationCustom01" class="form-label">หมายเลขประจำตัวประชาชน</label>
                            <input type="text" class="form-control" id="validationCustom01" value="xxxxxxxxxxxxx"
                                readonly>
                        </div>
                        <div class="col-2">
                            <label for="validationCustom01" class="form-label">คำนำหน้า</label>
                            <input type="text" class="form-control" id="validationCustom01" value="xxx." readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">ชื่อ</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxxxx"
                                readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">สกุล</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxxxx"
                                readonly>
                        </div>
                        <div class="col-md-2">
                            <label for="validationCustom02" class="form-label">วันเกิด</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xx" readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">เดือนเกิด</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxx" readonly>
                        </div>
                        <div class="col-md-2">
                            <label for="validationCustom02" class="form-label">ปีเกิด</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxx" readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">เพศ</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxx" readonly>
                        </div>
                        <div class="col-md-2">
                            <label for="validationCustom02" class="form-label">กรุ๊ปเลือด</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxx" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom02" class="form-label">เบอร์โทร</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxxx" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom02" class="form-label">อีเมล</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxx@gmail.com"
                                readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom02" class="form-label">วุฒิการศึกษา</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxxxx"
                                readonly>
                        </div>
                        <div class="col-md-5">
                            <label for="validationCustom02" class="form-label">แผนกการรักษา</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxxxx"
                                readonly>
                        </div>
                        <div class="col-md-7">
                            <label for="validationCustom02" class="form-label">ตำแหน่ง</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxxxx"
                                readonly>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustom02" class="form-label">ที่อยู่</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxx" readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">ตำบล</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxx" readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">อำเภอ</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxx" readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">จังหวัด</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxx" readonly>
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom02" class="form-label">รหัสไปรษณีย์</label>
                            <input type="text" class="form-control" id="validationCustom02" value="xxxxxxxxx" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>