<div class="container text-dark pt-4">

  <!-- carousel content -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide top-2 carousel-size" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="assets/images/p1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/p2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/p3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="assets/images/p4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br>
  <!-- end-carousel content -->

  <!-- queue number -->
  <div>
    <div class="card border-0 p-4 shadow" style="border-radius: 10px;">
      <form action="">
        <h5 class="font-monospace pb-0">ลำดับคิวปัจจุบัน</h5>
        <hr class="mt-2 mb-3">
        <div class="row pb-2">
          <div class="col-md-8 pb-2 pt-2">
            <div class="data-date">
              <label>
                <h6>วันที่ : &nbsp;</h6>
              </label>
              <label class="col-md-2">
                <input type="datetime" readonly class="form-control-plaintext" id="staticDate" value="06 / 05 / 2564">
              </label>&nbsp;
              <label>
                <h6>เวลา : &nbsp;</h6>
              </label>
              <label class="col-md-1">
                <input type="datetime" readonly class="form-control-plaintext" id="staticTime" value="15:15">
              </label>
            </div>
          </div>
          <div class="col-md-4 text-end">
            <label class="">
              <input type="search" class="form-control form-control-sm" aria-controls="Searchdata"
                placeholder="ค้นหา" name="searchText" [(ngModel)]="searchText"/>
            </label>
          </div>
          <div class="col pb-0 mb-0">
            <div class="dataTable table-responsive">
              <table class="table table-hover text-start p-0 m-0">
                <thead>
                  <tr>
                    <th class="col-md-1">คิวปัจจุบัน</th>
                    <th class="col-md-1">เวลารักษา</th>
                    <th class="col-md-2">รหัสผู้ป่วย</th>
                    <th class="col-md-2">ชื่อ - สกุล</th>
                    <th class="col-md-2">แผนกการรักษา</th>
                    <th class="col-md-2">แพทย์ผู้รักษา</th>
                    <th class="col-md-2 text-center">สถานะการรักษา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDatauser | filter:searchText">
                    <th class="text-center">{{item.booking.bkQueue}}</th>
                    <td>{{item.tmTime}}</td>
                    <td>{{item.user.userHnId}}</td>
                    <td>{{item.user.userFirstname}} {{item.user.userLastname}}</td>
                    <td>{{item.user.userDepartment}}</td>
                    <td>{{item.userId}} --userFirstname userLastname</td>
                    <td class="td-status text-center p-1">
                      <span class="badge" style="background-color: orange;">
                        <dt>รอรักษา</dt>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div><br>

  <!-- message & subject -->
  <div class="card col-md-12" style="margin: 10px auto;">
    <div class="card shadow topbar static-top">
      <div class="card-header">
        <p class="text-primary m-0 font-weight-bold">ประชาสัมพันธ์</p>
      </div>
      <div class="card-body text-dark p-table">
        <div class="dataTable table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>
                  <button type="button" class="btn btn-link ">
                    <a target="_blank"
                      href="http://www.mahasarakham.go.th/mkweb/610/3625-covid-19">ประกาศคณะกรรมการโรคติดต่อจังหวัดมหาสารคาม
                      เรื่อง มาตรการเฝ้าระวัง ควบคุมเชื้อไวรัส Covid
                      19</a>
                  </button>
                </td>
                <td>05/05/2564 15:15</td>
              </tr>
              <tr>
                <td>
                  <button type="button" class="btn btn-link">
                    <a target="_blank"
                      href="https://drive.google.com/file/d/1zBR8hj2s_ocFqzS7WCA8TP3e12-hDlyK/view?usp=sharing">สถานการณ์
                      COVID-19
                      จังหวัดมหาสารคาม</a>
                  </button>
                </td>
                <td>05/05/2564 15:15</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- <button type="button" class="btn btn-outline-primary">
  <a target="_blank" href="https://drive.google.com/file/d/1zBR8hj2s_ocFqzS7WCA8TP3e12-hDlyK/view?usp=sharing">
    <i class="bi bi-search"></i>
  </a>
</button> -->