<br>
<div class="container">
  <div class="card link-template-tabcard" style="width:80%; margin: 10px auto;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card link-template-tabcard" style="width:60%; margin: 10px auto;">
            <div class="card-header text-center">คิวปัจจุบัน</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <h1 class="text-center">1</h1>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="col" style="margin: 30px auto;">
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">วันที่ : </label>
            <div class="col-sm-5">
              <input type="date" readonly class="form-control-plaintext" id="staticDate" value="28/04/2021">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">เวลา : </label>
            <div class="col-sm-5">
              <input type="time" readonly class="form-control-plaintext" id="staticTime" value="15:15">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ประกาศ -->
  <div class="card link-template-tabcard" style="width:80%; margin: 30px auto;">
    <h5 class="card-header">ประกาศ</h5>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content With supporting text
        below as a natural lead-in to additional content</p>
    </div>
  </div>
</div>

