<div class="container">
  <div class="card" style="width: 70rem;">
    <div class="card-body">
      <div class="card" style="width: 5\rem;">
        <div class="col align-self-center">
          <h4>1</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card" style="width: 70rem;">
    <div class="card-header">
      ประกาศ
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>A well-known quote, contained in a blockquote element.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div>