<!-- home -->
<div *ngIf="!isLogin" class="row">

  <!-- sidebar -->
  <div class="sidebar-nav col-md-6">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="home">
          <div class="sidebar-brand-text mx-3">
            <span>Newnormal</span>
          </div>
        </a>
        <hr class="sidebar-divider my-0" />
      </div>
    </nav>
  </div>

  <!-- navbar-content -->
  <div class="nav-content col">
    <div>

      <!-- navbar -->
      <nav class="nav-con navbar navbar-light navbar-expand bg-white shadow topbar static-top">
        <div class="container-fluid">
          <ul *ngIf="!isLogin" class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item dropdown no-arrow mx-1">

              <a class="nav-link" href="login" style="font-size: 17px;">
                <strong>
                  <i class="bi bi-lock-fill" style="font-size: 1.2rem; color: black;"></i>
                  เข้าสู่ระบบ
                </strong>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- content -->
      <div class="content container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer style="background: #e8e4e4;">
      <div class="text-center my-auto copyright"
        style="padding: 0;padding-top: 13px;height: 49.8px;background: #bba9a9;width: 100%;"><span
          style="font-size: 14px;padding-top: 4px;">Copyright © Brand 2021</span></div>
    </footer>
  </div>
</div>


<!-- Menu-actor -->
<div class="row">
  <ng-template ngxPermissionsOnly="ADMIN">
    <!-- sidebar -->
    <div class="sidebar-nav col-md-6">
      <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
          <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="admin/home">
            <div class="sidebar-brand-text mx-3">
              <span>Newnormal-Admin</span>
            </div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="list-unstyled ps-0">
            <li>
              <i class="bi bi-house-fill" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="admin/home" style="text-decoration:none; color: #fff;">หน้าแรก</a>
            </li>
            <li>
              <i class="bi bi-folder-fill" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="admin/manage" style="text-decoration:none; color: #fff;">แสดงข้อมูลผู้ใช้งาน</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- navbar-content -->
    <div class="nav-content col">
      <div>

        <!-- navbar -->
        <nav class="nav-con navbar navbar-light navbar-expand bg-white shadow topbar static-top">
          <div class="container-fluid">

            <ul *ngIf="isLogin" class="navbar-nav flex-nowrap ms-auto">
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link" href="home" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  style="font-size: 17px;">
                  <strong>ออกจากระบบ</strong>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- content -->
        <div class="content container">
          <router-outlet></router-outlet>
        </div>
      </div>
      <footer style="background: #e8e4e4;">
        <div class="text-center my-auto copyright"
          style="padding: 0;padding-top: 13px;height: 49.8px;background: #bba9a9;width: 100%;"><span
            style="font-size: 14px;padding-top: 4px;">Copyright © Brand 2021</span></div>
      </footer>
    </div>
  </ng-template>

  <ng-template ngxPermissionsOnly="USER">
    <!-- sidebar -->
    <div class="sidebar-nav col-md-6">
      <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
          <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="user/home">
            <div class="sidebar-brand-text mx-3">
              <span>Newnormal-User</span>
            </div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="list-unstyled ps-0">
            <li>
              <i class="bi bi-house-fill" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="user/home" style="text-decoration:none; color: #fff;">หน้าแรก</a>
            </li>
            <li>
              <i class="bi bi-person" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="user/profile" style="text-decoration:none; color: #fff;">ข้อมูลส่วนตัว</a>
            </li>
            <li>
              <i class="bi bi-calendar2-plus" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="user/booking" style="text-decoration:none; color: #fff;">จองคิวเข้ารักษา</a>
            </li>
            <li>
              <i class="bi bi-calendar-check" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="user/managedata-booking" style="text-decoration:none; color: #fff;">ข้อมูลการจองคิว</a>
            </li>
            <li>
              <i class="bi bi-cash-stack" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="user/uploaddata-money" style="text-decoration:none; color: #fff;">ข้อมูลการชำระเงิน</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- navbar-content -->
    <div class="nav-content col">
      <div>

        <!-- navbar -->
        <nav class="nav-con navbar navbar-light navbar-expand bg-white shadow topbar static-top">
          <div class="container-fluid">

            <ul *ngIf="isLogin" class="navbar-nav flex-nowrap ms-auto">
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link" href="home" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  style="font-size: 17px;">
                  <strong>ออกจากระบบ</strong>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- content -->
        <div class="content container">
          <router-outlet></router-outlet>
        </div>
      </div>
      <footer style="background: #e8e4e4;">
        <div class="text-center my-auto copyright"
          style="padding: 0;padding-top: 13px;height: 49.8px;background: #bba9a9;width: 100%;"><span
            style="font-size: 14px;padding-top: 4px;">Copyright © Brand 2021</span></div>
      </footer>
    </div>
  </ng-template>

  <ng-template ngxPermissionsOnly="DOCTOR">
    <!-- sidebar -->
    <div class="sidebar-nav col-md-6">
      <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0">
          <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="doctor/home">
            <div class="sidebar-brand-text mx-3">
              <span>Newnormal-Doctor</span>
            </div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="list-unstyled ps-0">
            <li>
              <i class="bi bi-house-fill" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/home" style="text-decoration:none; color: #fff;">หน้าแรก</a>
            </li>
            <li>
              <i class="bi bi-person" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/profile" style="text-decoration:none; color: #fff;">ข้อมูลส่วนบุคคล</a>
            </li>
            <li>
              <i class="bi bi-clipboard-plus" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/treat" style="text-decoration:none; color: #fff;">จัดการข้อมูลการรักษา</a>
            </li>
            <!-- <li>
              <i class="bi bi-file-earmark-person-fill" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/manageuser" style="text-decoration:none; color: #fff;">จัดการข้อมูลผู้ใช้งาน</a>
            </li> -->
            <li>
              <i class="bi bi-printer-fill" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/report-treat" style="text-decoration:none; color: #fff;">รายงานการรักษา</a>
            </li>

            <br>
            <!-- เมนูชั่วคราว -->
            <li>
              <i class="bi bi-x-octagon" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/databooking" style="text-decoration:none; color: #fff;">ข้อมูลจองคิว(ปุ่มชั่วคราว)</a>
            </li>
            <li>
              <i class="bi bi-x-octagon" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/treat/add-drug" style="text-decoration:none; color: #fff;">เพิ่มข้อมูลสั่งยา(ปุ่มชั่วคราว)</a>
            </li>
            <li>
              <i class="bi bi-x-octagon" style="font-size: 1rem; color: #fff;"></i>&nbsp;
              <a href="doctor/treat/add-drug/printdatadrug" style="text-decoration:none; color: #fff;">พิมพ์ใบสั่งยา(ปุ่มชั่วคราว)</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- navbar-content -->
    <div class="nav-content col">
      <div>

        <!-- navbar -->
        <nav class="nav-con navbar navbar-light navbar-expand bg-white shadow topbar static-top">
          <div class="container-fluid">

            <ul *ngIf="isLogin" class="navbar-nav flex-nowrap ms-auto">
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link" href="home" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  style="font-size: 17px;">
                  <strong>ออกจากระบบ</strong>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- content -->
        <div class="content container">
          <router-outlet></router-outlet>
        </div>
      </div>
      <footer style="background: #e8e4e4;">
        <div class="text-center my-auto copyright"
          style="padding: 0;padding-top: 13px;height: 49.8px;background: #bba9a9;width: 100%;"><span
            style="font-size: 14px;padding-top: 4px;">Copyright © Brand 2021</span></div>
      </footer>
    </div>
  </ng-template>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">คุณต้องการออกจากระบบ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ต้องการออกจากระบบ ใช่ หรือ ไม่ ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-danger" (click)="logOut()">ออกจากระบบ</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end-modal -->

</div>