<div class="container"
    style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 20px; background-color: #F0F8FF;">

    <!-- header/button -->
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="text-dark">แก้ไขข้อมูลผู้ใช้งาน</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-info" routerLink="../manage">
                    << ย้อนกลับ</button>
            </div>
        </div>
    </div>

    <!-- content -->
    <!-- register-doctor -->
    <div class="card pt-3 border border-5 border-primary border-top-0 border-bottom-0 border-end-0 shadow"
        style="border-radius: 10px;">
        <div class="card-body bg-white" style="padding-left: 30px; padding-right: 30px;">

            <form class="row g-4 top-1" autocomplete="off">
                <div class="col-md-4 col-sm-12">
                    <div class="input-group">
                        <div class="input-group-text">ประเภทผู้ใช้งาน</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup"
                            placeholder="แพทย์/เจ้าหน้าที่" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <div class="input-group-text">คำนำหน้า</div>
                        <select id="inputState" class="form-select">
                            <option>นาย</option>
                            <option>นาง</option>
                            <option>น.ส.</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">ชื่อ</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">สกุล</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">รหัสบัตรประชาชน</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">วันเดือนปีเกิด</div>
                        <input type="date" class="form-control" id="autoSizingInputGroup" placeholder="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-text">เพศ</div>
                        <select id="inputState" class="form-select">
                            <option>ชาย</option>
                            <option>หญิง</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-text">กรุ๊ปเลือด</div>
                        <select id="inputState" class="form-select">
                            <option>A</option>
                            <option>B</option>
                            <option>AB</option>
                            <option>O</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">เบอร์โทรศัพท์</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">อีเมล</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-text">ที่อยู่</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup"
                            placeholder="รายละเอียดที่อยู่">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">จังหวัด</div>
                        <select id="inputState" class="form-select">
                            <option>...</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">อำเภอ</div>
                        <select id="inputState" class="form-select">
                            <option>...</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">ตำบล</div>
                        <select id="inputState" class="form-select">
                            <option>...</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">รหัสไปรษณีย์</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">วุฒิการศึกษา</div>
                        <select id="inputState" class="form-select">
                            <option>...</option>
                            <option>บัณฑิต(ปริญญาตรี)</option>
                            <option>มหาบัณฑิต(ปริญญาโท)</option>
                            <option>ดุษฎีบัณฑิต(ปริญญาเอก)</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">แผนกการรักษา</div>
                        <select id="inputState" class="form-select">
                            <option>...</option>
                            <option>หู,คอ,จมูก</option>
                            <option>ศัลยกรรมกระดูก</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">ตำแหน่ง</div>
                        <select id="inputState" class="form-select">
                            <option value="1">...</option>
                            <option value="2">แพทย์ผู้เชี่ยวชาญด้านรังสีวิทยา</option>
                            <option value="3">แพทย์ผู้เชี่ยวชาญด้านวิสัญญีวิทยา</option>
                            <option value="3">แพทย์ผู้เชี่ยวชาญด้านจักษุวิทยา</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">เลขที่ใบอนุญาต</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup"
                            placeholder="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">ใบประกอบวิชาชีพ</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="114587596384.jpg"
                            readonly>
                        <!-- <div class="input-group-text">
                            <i class="bi bi-upload" style="color: rgb(112, 56, 241);"></i>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6" style="margin: 0px;"></div>
                <div class="col-md-12" style="text-align: center;">
                    <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>&nbsp;
                    <button type="reset" class="btn btn-danger">ล้างข้อมูล</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end content -->
    <div style="height: 3px;"></div>
</div>