<div class="container"
    style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 20px; background-color: #F0F8FF;">

    <!-- header/button -->
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="text-dark">แก้ไขข้อมูลแพทย์/เจ้าหน้าที่</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-info" routerLink="../manage">
                    << ย้อนกลับ</button>
            </div>
        </div>
    </div>

    <!-- content -->
    <!-- register-doctor -->
    <div class="card pt-3 border border-5 border-primary border-top-0 border-bottom-0 border-end-0 shadow"
        style="border-radius: 10px;">
        <div class="card-body bg-white" style="padding-left: 30px; padding-right: 30px;">

            <form [formGroup]="editDataDoctorForm" (ngSubmit)="onSubmit()" class="row g-4 top-1" autocomplete="off">
                <div class="col-md-4 col-sm-12">
                    <div class="input-group">
                        <div class="input-group-text">ประเภทผู้ใช้งาน</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup"
                            placeholder="แพทย์/เจ้าหน้าที่" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <div class="input-group-text">คำนำหน้า</div>
                        <select id="inputState" class="form-select" formControlName="userTitle">
                            <option value="" disabled>เลือกคำนำหน้า</option>
                            <option *ngFor="let prf of prefixNames" [ngValue]="prf">{{ prf }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">ชื่อ</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder=""
                            formControlName="userFirstname">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">สกุล</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder=""
                            formControlName="userLastname">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">รหัสบัตรประชาชน</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder=""
                            formControlName="userCardId" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">วันเดือนปีเกิด</div>
                        <input type="date" class="form-control" id="autoSizingInputGroup" placeholder=""
                            formControlName="userBirthday">
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-text">เพศ</div>
                        <select id="inputState" class="form-select" formControlName="userGender">
                            <option value="" disabled>เลือกเพศ</option>
                            <option *ngFor="let gender of genders" [ngValue]="gender">{{ gender }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-text">กรุ๊ปเลือด</div>
                        <select id="inputState" class="form-select" formControlName="userBlood">
                            <option value="" disabled>เลือก กรุ๊ปเลือด</option>
                            <option *ngFor="let blood of bloods" [ngValue]="blood">{{ blood }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">เบอร์โทรศัพท์</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder=""
                            formControlName="userPhone">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">อีเมล</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder=""
                            formControlName="userEmail">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">ที่อยู่</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="รายละเอียดที่อยู่"
                            formControlName="userAddrass">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">รหัสไปรษณีย์</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup"
                            (change)="changeUserZipCode($event)" placeholder="กรอกรหัสไปรษณีย์"
                            formControlName="zipCode">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">จังหวัด</div>
                        <select id="inputState" class="form-select" formControlName="province">
                            <option value="" disabled>--จังหวัด--</option>
                            <option *ngFor="let pro of provinces" [ngValue]="pro.pvnNameTh">{{ pro.pvnNameTh }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">อำเภอ</div>
                        <select id="inputState" class="form-select" formControlName="district">
                            <option value="" disabled>--อำเภอ--</option>
                            <option *ngFor="let dis of districts" [ngValue]="dis.disNameTh">{{ dis.disNameTh }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-text">ตำบล</div>
                        <select id="inputState" class="form-select" formControlName="sdtId">
                            <option value="" disabled>--ตำบล--</option>
                            <option *ngFor="let subD of subdistricts" [ngValue]="subD.sdtId">{{
                                subD.sdtNameTh }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">วุฒิการศึกษา</div>
                        <select id="inputState" class="form-select" formControlName="userGraduate">
                            <option value="" disabled>เลือกวุฒิการศึกษา</option>
                            <option *ngFor="let graduate of graduates" [ngValue]="graduate">{{ graduate }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">แผนกการรักษา</div>
                        <select id="inputState" class="form-select" formControlName="userDepartment">
                            <option value="" disabled>เลือกแผนกการรักษา</option>
                            <option *ngFor="let department of departments" [ngValue]="department">{{ department
                                }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">ตำแหน่ง</div>
                        <select id="inputState" class="form-select" formControlName="userPosition">
                            <option value="" disabled>เลือกตำแหน่ง</option>
                            <option *ngFor="let doctorPosition of doctorPositions" [ngValue]="doctorPosition">{{
                                doctorPosition }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">เลขที่ใบอนุญาต</div>
                        <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder=""
                            formControlName="userProfessionId">
                    </div>
                </div>
                <div class="col-md-6" style="margin: 0px;"></div>
                <div class="col-md-12" style="text-align: center;">
                    <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>&nbsp;
                    <!-- <button type="reset" class="btn btn-danger">ล้างข้อมูล</button> -->
                </div>
            </form>
        </div>
    </div>
    <!-- end content -->
    <div style="height: 3px;"></div>
</div>