<div class="container p-3 text-dark" style="min-height: 614px;">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="doctor/home">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">ข้อมูลการชำระเงิน</li>
        </ol>
    </nav>

    <div class="container">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
            <h3> ข้อมูลการชำระเงิน</h3>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-success" routerLink="../home">
                        << ย้อนกลับ</button>
                </div>
            </div>
        </div>

        <!-- queue number -->
        <div class="con-dataqueue">
            <div class="col-md-12" style="">
                <div class="card shadow topbar static-top" style="border-radius: 10px;">
                    <div class="card-body text-dark p-4 pb-3">
                        <div class="row justify-content-end">
                            <div class="col-md-2 data-time">
                                <label class="">
                                    <input type="search" class="form-control form-control-sm" aria-controls="Searchdata"
                                        placeholder="Search" name="searchText" [(ngModel)]="searchText" />
                                </label>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover  border-primary text-center">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">เลขที่ใบสั่งยา</th>
                                        <th class="col-md-2">ชื่อ - สกุล</th>
                                        <th class="col-md-2">รหัสการจอง</th>
                                        <th class="col-md-2">วัน/เดือน/ปีที่สั่งจ่าย</th>
                                        <th class="col-md-2">แจ้งชำระเงิน</th>
                                        <th class="col-md-2">สถานะการชำระ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listDatauser | filter:searchText | paginate: {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      }; let i = index">
                                        <td>{{item.billId}}</td>
                                        <td>{{item.user.userFirstname}} {{item.user.userLastname}}</td>
                                        <td>{{item.bkId}}</td>
                                        <td>{{item.billdrug.billTime}}</td>
                                        <td class="text-decoration-underline text-primary">
                                            <!-- {{item.tmSlip}} -->
                                            <button type="button" class="btn btn-sm btn-primary"
                                                (click)="uploadmoney()">
                                                อัปโหลด
                                            </button>
                                        </td>
                                        <td class="td-status">
                                            <span class="text-dark">
                                                <h6 class="fw-bold">{{item.tmStatus}}</h6>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center pb-0">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <canvas class="my-4 w-100" id="myChart" height="43"></canvas> -->