<div class="container bg-light "
    style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 20px;">

    <!-- header/button -->
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="text-dark">เพิ่มข้อมูลผู้ใช้งาน</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-info" routerLink="../manage-user">
                    << ย้อนกลับ</button>
            </div>
        </div>
    </div>

    <!-- content -->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-user"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">ผู้ป่วย</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-doctor"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">แพทย์</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <!-- register-user -->
        <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
            <div class="card border-top-0">
                <div class="card-body bg-white" style="padding-left: 30px; padding-right: 30px;">

                    <form class="row g-4 top-1" autocomplete="off">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">รหัสบัตรประชาชน</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="รหัสบัตรประชาชน">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">.............</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="..............">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-text">คำนำ</div>
                                <select id="inputState" class="form-select">
                                    <option>นาย</option>
                                    <option>นาง</option>
                                    <option>นางสาว</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="input-group-text">ชื่อ</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="ชื่อ">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="input-group-text">สกุล</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="สกุล">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">ว/ด/ป เกิด</div>
                                <input type="date" class="form-control" id="autoSizingInputGroup"
                                    placeholder="ว/ด/ป เกิด">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">เพศ</div>
                                <select id="inputState" class="form-select">
                                    <option>ชาย</option>
                                    <option>หญิง</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">กรุ๊ปเลือด</div>
                                <select id="inputState" class="form-select">
                                    <option>A</option>
                                    <option>B</option>
                                    <option>AB</option>
                                    <option>O</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">โรคประจำตัว</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="โรคประจำตัว">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">ประวัติการแพ้ยา</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="ประวัติการแพ้ยา">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">เบอร์โทรศัพท์</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup"
                                    placeholder="เบอร์โทรศัพท์">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">อีเมล</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="อีเมล">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-text">ที่อยู่</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="ที่อยู่">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">จังหวัด</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">อำเภอ</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">ตำบล</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">รหัสไปรษณีย์</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup"
                                    placeholder="กรอกรหัสไปรษณีย์">
                            </div>
                        </div>
                        <div class="col-12" style="text-align: center;">
                            <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>&nbsp;
                            <button type="reset" class="btn btn-danger">ล้างข้อมูล</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- register-doctor -->
        <div class="tab-pane fade" id="nav-doctor" role="tabpanel" aria-labelledby="nav-doctor-tab">
            <div class="card border-top-0">
                <div class="card-body bg-white" style="padding-left: 30px; padding-right: 30px;">

                    <form class="row g-4 top-1" autocomplete="off">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">รหัสบัตรประชาชน</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="รหัสบัตรประชาชน">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">.............</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="..............">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-text">คำนำ</div>
                                <select id="inputState" class="form-select">
                                    <option>นาย</option>
                                    <option>นาง</option>
                                    <option>นางสาว</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="input-group-text">ชื่อ</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="ชื่อ">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="input-group-text">สกุล</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="สกุล">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">ว/ด/ป เกิด</div>
                                <input type="date" class="form-control" id="autoSizingInputGroup"
                                    placeholder="ว/ด/ป เกิด">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">เพศ</div>
                                <select id="inputState" class="form-select">
                                    <option>ชาย</option>
                                    <option>หญิง</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">กรุ๊ปเลือด</div>
                                <select id="inputState" class="form-select">
                                    <option>A</option>
                                    <option>B</option>
                                    <option>AB</option>
                                    <option>O</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">เบอร์โทรศัพท์</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup"
                                    placeholder="เบอร์โทรศัพท์">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-text">อีเมล</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="อีเมล">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text">วุฒิการศึกษา</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text">แผนกการรักษา</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text">ตำแหน่ง</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="ตำแหน่ง">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-text">ที่อยู่</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup" placeholder="ที่อยู่">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">จังหวัด</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">อำเภอ</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">ตำบล</div>
                                <select id="inputState" class="form-select">
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-text">รหัสไปรษณีย์</div>
                                <input type="tel" class="form-control" id="autoSizingInputGroup"
                                    placeholder="กรอกรหัสไปรษณีย์">
                            </div>
                        </div>
                        <div class="col-12" style="text-align: center;">
                            <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>&nbsp;
                            <button type="reset" class="btn btn-danger">ล้างข้อมูล</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <br>
</div>