<div class="container p-3 text-dark">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="user/home">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">จองคิวเข้ารักษา</li>
        </ol>
    </nav>

    <div class="container pt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card-body shadow border-0"
                    style="background-color: rgb(123, 202, 233);border-radius: 10px;">
                    <h4 class="text-dark text-center p-2">จองคิวเข้ารักษา</h4>

                    <!-- data user -->
                    <div class="container text-dark">
                        <div class="card p-4 border-0" style="border-radius: 10px;">
                            <form class="row g-3 gx-4" [formGroup]="DataUserForm">
                                <div class="col-md-3">
                                    <label for="validationCustom01" class="form-label">รหัสผู้ป่วย HN</label>
                                    <input type="text" class="form-control" id="validationCustom01" value=""
                                        formControlName="userHnId" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">หมายเลขประจำตัวประชาชน</label>
                                    <input type="text" class="form-control" id="validationCustom01" value=""
                                        formControlName="userCardId" readonly>
                                </div>
                                <div class="col-md-5">
                                    <label for="validationCustom01" class="form-label">ชื่อ-สกุล</label>
                                    <div class="input-group">
                                        <input type="text" id="form8Example3" class="form-control border-end-0"
                                            formControlName="userFirstname" readonly>
                                        <input type="text" id="form8Example3" class="form-control border-start-0"
                                            formControlName="userLastname" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="validationCustom01" class="form-label">กรุ๊ปเลือด</label>
                                    <input type="text" class="form-control" id="validationCustom01" value="userBlood"
                                        formControlName="userBlood" readonly>
                                </div>
                                <div class="col-md-2">
                                    <label for="validationCustom01" class="form-label">เพศ</label>
                                    <input type="text" class="form-control" id="validationCustom01" value="userGender"
                                        formControlName="userGender" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">เบอร์โทร</label>
                                    <input type="text" class="form-control" id="validationCustom01" value="userPhone"
                                        formControlName="userPhone" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">อีเมล</label>
                                    <input type="text" class="form-control" id="validationCustom01" value="userEmail"
                                        formControlName="userEmail" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label for="validationCustom01" class="form-label">โรคประจำตัว</label>
                                    <input type="text" class="form-control" id="validationCustom01" value=""
                                        formControlName="userDisease" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label for="validationCustom01" class="form-label">แผนกที่เข้ารักษา</label>
                                    <input type="text" class="form-control" id="validationCustom01" value=""
                                        formControlName="userDepartment" readonly>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>

                    <!-- booking treat -->
                    <div class="container text-dark">
                        <div class="card p-4 border-0" style="border-radius: 10px;">
                            <form class="row g-3 gx-4" [formGroup]="DataUserForm">
                                <!-- <div class="col-md-3">
                                    <label for="validationCustom01" class="form-label">โรคประจำตัว</label>
                                    <input type="text" class="form-control" id="validationCustom01" value=""
                                        formControlName="userDisease" readonly>
                                </div> -->
                                <!-- <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">แพทย์ผู้รักษา</label>
                                    <input type="text" class="form-control" id="validationCustom01" value="" readonly>
                                </div> -->
                                <!-- <div class="col-md-5">
                                    <label for="validationCustom01" class="form-label">แพทย์ผู้รักษา</label>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-danger" type="button" id="button-addon2"
                                            data-bs-toggle="modal"
                                            data-bs-target="#DateDoctorModel">ดูวันออกตรวจ</button>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>เลือกแพทย์ผู้รักษา</option>
                                            <option value="1">นพ.เอ</option>
                                            <option value="2">นพ.บีเอ</option>
                                            <option value="3">พญ.เอ็มวัน</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">อาการ (หากไม่มีให้ใส่ - )</label>
                                    <input type="email" class="form-control" id="FormControlInput1"
                                        placeholder="กรอกอาการเบื้องต้น">
                                </div> -->
                                <div class="col-md-12 pt-2">
                                    <h6 class="text-center">
                                        <dt>เลือกวันที่เข้ารักษา</dt>
                                    </h6>
                                    <div class="col-md-12">
                                        <div class="card p-4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <full-calendar [options]="calendarOptions"></full-calendar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- Modal - วันออกตรวจ -->
<div class="modal fade" id="DateDoctorModel" tabindex="-1" aria-labelledby="DateDoctorModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-dark">
            <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="SelectModalLabel">วันออกตรวจของแพทย์</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form>
                    <div class="card p-3 text-dark" style="border-radius: 0rem;">
                        <div class="row">
                            <div class="col-md-4 text-center" style="padding-right: 1rem;">
                                <img src="assets/images/person.png" class="img-thumbnail" alt="..." width="80px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="fw-bold font-monospace ">นพ.เอ</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">ออกตรวจ : จันทร์ , อังคาร</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">เวลา : 09:00 - 12:00 น.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-3 text-dark border-top-0" style="border-radius: 0rem;">
                        <div class="row">
                            <div class="col-md-4 text-center" style="padding-right: 1rem;">
                                <img src="assets/images/person.png" class="img-thumbnail" alt="..." width="80px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="fw-bold font-monospace ">นพ.บีเอ</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">ออกตรวจ : พุธ , พฤหัสบดี</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">เวลา : 09:00 - 12:00 น.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-3 text-dark border-top-0" style="border-radius: 0rem;">
                        <div class="row">
                            <div class="col-md-4 text-center" style="padding-right: 1rem;">
                                <img src="assets/images/person.png" class="img-thumbnail" alt="..." width="80px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="fw-bold font-monospace ">พญ.เอ็มวัน</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">ออกตรวจ : พฤหัสบดี , ศุกร์</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">เวลา : 09:00 - 12:00 น.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card p-3 text-dark" style="border-radius: 0rem;">
                        <div class="row">
                            <div class="col-md-4 text-center" style="padding-right: 1rem;">
                                <img src="assets/images/person.png" class="img-thumbnail" alt="..." width="80px">
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <!-- <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace ">คลีนิกนอกเวลา</h6>
                                    </div> -->
                                    <div class="col-md-12">
                                        <h5 class="fw-bold font-monospace ">พญ.กัณรญา</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">ออกตรวจ : เสาร์</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <h6 class="fw-bold font-monospace text-success">เวลา : 09:00 - 12:00 น.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal PopUp with Add Event Form-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content text-dark">

            <div class="modal-header">
                <h4 class="modal-title align-center"></h4>
                <button type="button" class="btn-close" (click)="hideForm()" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="addEventForm" class="card p-3 bg-light border-0" (ngSubmit)="onSubmit()">
                    <!-- <div class="card p-3"> -->
                    <div class="row pb-2">

                        <!-- name -->
                        <div class="col-md-12 pb-2">
                            <!-- <div class="form-group">
                                <label class="pb-1">ชื่อ - สกุล</label>
                                <div class="input-group">
                                    <input type="text" id="form8Example3" class="form-control border-end-0"
                                        placeholder="กรอกชื่อ" 
                                        [ngClass]="{ 'is-invalid': submitted && f.userFirstname.errors }" readonly>
                                    <input type="text" id="form8Example3" class="form-control border-start-0"
                                        placeholder="กรอกสกุล" 
                                        [ngClass]="{ 'is-invalid': submitted && f.userLastname.errors }" readonly>
                                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                        <div *ngIf="f.title.errors.required">กรุณากรอกข้อมูล</div>
                                    </div>
                                </div>
                            </div> -->
                            <label for="validationCustom01" class="form-label">แผนกที่เข้ารักษา</label>
                            <div class="input-group mb-3">
                                <!-- <button class="btn btn-outline-danger" type="button" id="button-addon2"
                                    data-bs-toggle="modal" data-bs-target="#DateDoctorModel">ดูวันออกตรวจ</button> -->
                                <select id="inputState" class="form-select" formControlName="bkDepartment"
                                    (change)="changeUserDepartment($event)">
                                    <option value="" disabled>เลือกแผนกการรักษา</option>
                                    <option *ngFor="let department of departments" [ngValue]="department">{{ department
                                        }}</option>
                                </select>
                            </div>
                        </div>

                        <!-- date time booking -->
                        <div class="col-md-12 pb-2">
                            <div class="row">
                                <div class="col-md-6 pb-2">
                                    <div class="form-group">
                                        <label class="pb-1">วันที่ต้องการจอง</label>
                                        <div class="form-control eventstarttitle">
                                            <input type="date" id="form8Example3" class="form-control eventstarttitle"
                                                placeholder="" formControlName="bkDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pb-2">
                                    <div class="form-group">
                                        <label class="pb-1">เวลาที่ต้องการจอง</label>
                                        <input type="time" id="form8Example3" name="appt-time" class="form-control" placeholder=""
                                            formControlName="bkTime" min="09:00" max="12:00" required>
                                            <span class="validity"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- bkSymptom - อาการ -->
                        <div class="col-md-12 pb-2">
                            <div class="form-group has-validation">
                                <label class="pb-1">อาการเบื้องต้น (ถ้าไม่มีใส่ - )</label>
                                <input type="text" id="form8Example3" class="form-control" placeholder="กรอกอาการ"
                                    formControlName="bkSymptom" required>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">บันทึก</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>
</div>