<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">รายงานการรักษา</li>
    </ol>
</nav>

<div class="container con-report">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom text-dark">
        <h3>รายงานการรักษา</h3>
    </div>

    <!-- card-search -->
    <div class="card bg-light text-dark p-2">
        <div class="card-body">
            <h6 class="font-monospace fw-bold">ค้นหาข้อมูลผู้ป่วย</h6>
            <div class="row align-self-center">
                <form>
                    <div class="row g-2 align-items-center">
                        <div class="col-md-auto">
                            <label for="inputnumber" class="col-form-label">รหัสผู้ป่วย : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example">
                        </div>
                        <div class="col-md-auto">
                            <label for="inputnumber" class="col-form-label">&emsp;รหัสบัตรประชาชน : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example">
                        </div>
                        <div class="col-md-auto">
                            <label for="inputnumber" class="col-form-label">&emsp;ชื่อ : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example">
                        </div>
                        <div class="col-md-auto">
                            <label for="inputnumber" class="col-form-label">&emsp;สกุล : </label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control form-control-sm" type="text" placeholder=""
                                aria-label=".form-control-sm example">
                        </div>&nbsp;&nbsp;
                        <div class="col-md-auto">
                            <div class="input-group-sm">
                                <button type="submit" class="btn btn-sm btn-outline-primary col-md-12"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                    <!-- &nbsp;ค้นหา -->
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <!-- data user -->
    <h5 class="text-dark">ข้อมูลผู้ป่วย</h5>
    <div class="card table-responsive shadow-sm p-3">
        <table class="table table-hover border-primary">
            <thead>
                <tr class="text-center">
                    <th class="col-md-1">ลำดับ</th>
                    <th class="col-md-2">รหัสผู้ป่วย</th>
                    <th class="col-md-2">หมายเลขบัตรประชาชน</th>
                    <th class="col-md-3">ชื่อ - สกุล</th>
                    <th scope="col">โรคประจำตัว</th>
                    <th class="col-md-auto">รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let item of listDatatreat; let i = index">
                    <th>{{i+1}}</th>
                    <td>{{item.userId}}</td>
                    <td>{{item.userCardId}}</td>
                    <td>{{item.userFirstname}} {{item.userLastname}}</td>
                    <td>{{item.userDisease}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary"
                             (click)="gotoAdminEdit(item)">
                            <i class="bi bi-eye-fill" style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                            ดูรายละเอียด
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--table-->
    </div>
    <br>
</div>
<canvas class="my-4 w-100" id="myChart" height="80"></canvas>