<div class="container con-queue text-dark" style="padding-top: 2rem;">

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
        <h3>ข้อมูลการจองคิวประจำวัน</h3>
    </div>

    <!-- card-search -->
    <div class="card bg-light shadow-sm">
        <div class="card-body align-items-center" style="padding-left: 40px;">
            <form class="row " autocomplete="off">
                <div class="col-auto col align-self-end"  style="padding-right: 35px;">
                    <h5 class="text-dark">
                        <dt>ค้นหาคิวการรักษา</dt>
                    </h5>
                </div>
                <div class="col-md-4"  style="padding-right: 35px;">
                    <div class="input-group">
                        <div class="input-group-text">วัน/เดือน/ปี</div>
                        <input type="date" class="form-control" id="autoSizingInputGroup" placeholder="กรอกวัน">
                    </div>
                </div>
                <div class="col-md-3"  style="padding-right: 35px;">
                    <div class="input-group">
                        <div class="input-group-text">เวลา</div>
                        <input type="time" class="form-control" id="autoSizingInputGroup" placeholder="กรอกเวลา">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-search"></i> ค้นหาคิวผู้ป่วย
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- table -->
    <div class="pt-4">
        <div class="pb-0">
            <div class="row">
                <div class="col" style="padding-left: 20px;">
                    <div class="data-date">
                        <label>
                            <h5>
                                <dt> คิวการรักษา : &nbsp;</dt>
                            </h5>
                        </label>
                        <label class="col">
                            <h5>
                                <dt>
                                    <input type="datetime" readonly class="form-control-plaintext" id="staticDate"
                                        value="06 / 05 / 2564">
                                </dt>
                            </h5>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="topbar static-top">
                <div class="card-bodytext-dark">
                    <div class="dataTable table-responsive">
                        <table class="table table-hover  border-primary text-center">
                            <thead>
                                <tr>
                                    <th scope="col">หมายเลขคิว</th>
                                    <th scope="col">เวลา</th>
                                    <th scope="col">รหัสการจอง</th>
                                    <th scope="col">ชื่อ-สกุล</th>
                                    <th scope="col">เบอร์ติดต่อ</th>
                                    <th scope="col">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>15:20</td>
                                    <td><a href="doctor/databooking">000245</a></td>
                                    <td>พญ.ปารีญา วราเมธา</td>
                                    <td>xxxxxxxxxx</td>
                                    <td class="td-status">
                                        <span class="badge bg-success">
                                            <i class="bi bi-check2-circle"
                                                style="font-size: 1rem; color: rgb(255, 255, 255);"></i> รักษาแล้ว
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>15:25</td>
                                    <td><a href="doctor/databooking">000246</a></td>
                                    <td>พญ.ปารีญา วราเมธา</td>
                                    <td>xxxxxxxxxx</td>
                                    <td class="td-status">
                                        <span class="badge bg-danger">
                                            <i class="bi bi-arrow-down-circle"
                                                style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                                            เลื่อนคิว</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>15:30</td>
                                    <td><a href="doctor/databooking">000247</a></td>
                                    <td>พญ.ปารีญา วราเมธา</td>
                                    <td>xxxxxxxxxx</td>
                                    <td class="td-status">
                                        <span class="badge bg-warning">
                                            <i class="bi bi-hourglass-split"
                                                style="font-size: 1rem; color: rgb(255, 255, 255);"></i>
                                            รอรักษา</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas class="my-4 w-100" id="myChart" height="80"></canvas>
</div><!-- end-container -->


<!-- <div class="card card-body">
    <h3 class="text-primary">Doctor</h3>
    <canvas class="my-4 w-100" id="myChart" height="112"></canvas>
</div> -->