<div class="container con-queue text-dark" style="padding-top: 2rem; min-height: 591px;">

    <div class="col-md-12 pb-4">
        <div class="card p-3 border border-5  shadow-sm" style="border-radius: 10px;">
            <div class="row">
                <div class="col-md-12 text-dark text-center">
                    <!-- carousel content -->
                    <div id="carouselExampleDark" class="carousel carousel-dark slide top-2 carousel-size"
                        data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="4000">
                                <img src="assets/images/p1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <img src="assets/images/p2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <img src="assets/images/p3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <img src="assets/images/p4.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- <canvas class="my-4 w-100" id="myChart" height="50"></canvas> -->
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
        <h3>ข้อมูลการจองคิวประจำวัน</h3>
    </div>

    <!-- card-search -->
    <!-- <div class="card bg-light shadow-sm">
        <div class="card-body align-items-center" style="padding-left: 40px;">
            <form class="row " autocomplete="off">
                <div class="col-md-2 align-self-end" style="padding-right: 35px;">
                    <h5 class="text-dark text-center">
                        <dt>ค้นหา</dt>
                    </h5>
                </div>
                <div class="col-md-4" style="padding-right: 35px;">
                    <div class="input-group">
                        <div class="input-group-text">วัน/เดือน/ปี</div>
                        <input type="date" class="form-control" id="autoSizingInputGroup" placeholder="กรอกวัน">
                    </div>
                </div>
                <div class="col-md-3" style="padding-right: 35px;">
                    <div class="input-group">
                        <div class="input-group-text">เวลา</div>
                        <input type="time" class="form-control" id="autoSizingInputGroup" placeholder="กรอกเวลา">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-search"></i> ค้นหาคิวผู้ป่วย
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->

    <!-- refresh ทุก 20 วินาที -->
    <!-- <meta http-equiv="refresh" content="20"> -->

    <!-- table -->
    <div class="pt-3">
        <div class="pb-0">
            <div class="row pb-1">
                <div class="col" style="padding-left: 20px;">
                    <div class="data-date">
                        <label>
                            <h5>
                                <dt> เวลาปัจจุบัน : &nbsp;</dt>
                            </h5>
                        </label>
                        <label class="col">
                            <h5>
                                {{currentDate | date:'dd/MM/y'}}
                            </h5>
                        </label>
                        &nbsp;
                        <label class="col">
                            <h5>
                                {{currentDate | date:'HH:mm'}}
                            </h5>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="topbar static-top">
                <div class="card-bodytext-dark">
                    <div class="dataTable table-responsive">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th class="col-md-1">หมายเลขคิว</th>
                                    <th class="col-md-1">เวลา</th>
                                    <th class="col-md-2">รหัสการจอง</th>
                                    <th class="col-md-2">ชื่อ-สกุล</th>
                                    <th class="col-md-2">รายละเอียดการจอง</th>
                                    <th class="col-md-2">สถานะ</th>
                                    <th class="col-md-2">อัพเดตสถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listDatauser | paginate: {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count
                                  }">
                                    <th scope="row">{{item.bkQueue}}</th>
                                    <td>{{item.bkTime}}</td>
                                    <td>{{item.bkId}}</td>
                                    <td>{{item.user.userFirstname}} {{item.user.userLastname}}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm text-white fw-bold"
                                            data-bs-toggle="modal" data-bs-target="#SelectModal"
                                            style="background-color: rgb(0, 105, 191);">
                                            <h6 class="p-0" style="margin: 0rem;" (click)="selectDataBooking(item)">
                                                ดูรายละเอียด</h6>
                                        </button>
                                    </td>
                                    <td>
                                        <span
                                            class="badge {{getStatusColorClass(item.bkStatus)}}">{{getStatusDesc(item.bkStatus)}}
                                        </span>
                                    </td>
                                    <td>
                                        <button *ngIf="isShowUpdateStatus(item.bkStatus)" type="button"
                                            class="btn btn-sm text-white fw-bold" data-bs-toggle="modal"
                                            data-bs-target="#status"
                                            style="background-color: rgb(13, 109, 219);border-radius: 30px;">
                                            <h6 class="p-0" style="margin: 0rem;"
                                                (click)="gotoUpdateStatusBooking(item)">สถานะคิว</h6>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center pb-0 mb-0">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- end-container -->


<!-- Modal Status -->
<div class="modal fade" id="status" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="statusLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"
            style="background-image: url(https://s3vmwebqa.s3.ap-southeast-1.amazonaws.com/public/other/vimut-og-image.jpg);">
            <div class="modal-body">
                <div class="card p-3 border-0" style="border-radius: 8px;">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-success font-monospace" for="btnradio1" data-bs-dismiss="modal"
                            (click)="updateStatusBooking('S')">รักษาแล้ว</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-warning font-monospace" for="btnradio2" data-bs-dismiss="modal"
                            (click)="updateStatusBooking('N')">ข้ามคิว</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-danger font-monospace" for="btnradio3" data-bs-dismiss="modal"
                            (click)="updateStatusBooking('C')">ไม่มาตามนัด</label>
                    </div>
                </div>
                <!-- <div class="col-md-12 pt-3 text-center">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="fetchData()">ตกลง</button>&nbsp;
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- ----------- Modal gotoaddtreat-----------  -->
<div class="modal fade text-dark" id="SelectModal" tabindex="-1" aria-labelledby="SelectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold font-monospace" id="SelectModalLabel">รายละเอียดการจองคิวเข้ารักษา </h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body bg-light text-start">
                <form [formGroup]="listDatausers">
                    <div class="card p-3">
                        <div class="row mb-4">
                            <div class="col-md-4 pb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">รหัสการจองคิว</label>
                                    <input type="text" id="form8Example3" class="form-control" formControlName="bkId"
                                        readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">รหัสผู้ป่วย
                                        HN</label>
                                    <input type="text" id="form8Example3" class="form-control"
                                        formControlName="userHnId" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">วันและเวลาที่เข้ารักษา</label>
                                    <div class="input-group">
                                        <input type="text" id="form8Example3" class="form-control border-end-0"
                                            formControlName="bkDate" readonly>
                                        <input type="text" id="form8Example3" class="form-control border-start-0"
                                            formControlName="bkTime" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">ชื่อ - สกุล</label>
                                    <div class="input-group">
                                        <input type="text" id="form8Example3" class="form-control border-end-0"
                                            formControlName="userFirstname" readonly>
                                        <input type="text" id="form8Example3" class="form-control border-start-0"
                                            formControlName="userLastname" readonly>
                                    </div>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">อาการ
                                        (ถ้ามี)</label>
                                    <input type="text" id="form8Example3" class="form-control"
                                        formControlName="bkSymptom" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6 pb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">เบอร์โทร</label>
                                    <input type="text" id="form8Example3" class="form-control"
                                        formControlName="userPhone" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">อีเมล</label>
                                    <input type="text" id="form8Example3" class="form-control"
                                        formControlName="userEmail" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">โรคประจำตัว</label>
                                    <input type="text" id="form8Example3" class="form-control"
                                        formControlName="userDisease" readonly>
                                </div>
                            </div>&emsp;
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">แผนกที่รักษา</label>
                                    <input type="text" id="form8Example3" class="form-control"
                                        formControlName="bkDepartment" readonly>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-outline">
                                    <label class="form-label" for="form8Example3">แพทย์ผู้รักษา</label>
                                    <input type="text" id="form8Example3" class="form-control" readonly>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 pt-3">
                            <button *ngIf="isShow" type="button" class="fw-bolder btn btn-primary"
                                (click)="gotoaddtreat(item)" data-bs-dismiss="modal">เพิ่มข้อมูลการรักษา</button>&nbsp;
                            <button type="button" class="fw-bolder btn btn-danger" data-bs-dismiss="modal">ปิด</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->